<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <%= partial "partials/header" %>
    <main class="main">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "nav-toggle" %>
    <%= javascript_include_tag "lang-toggle" %>
		<%= javascript_include_tag "image-switch" %>
  </body>
</html>
