<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#e52d2e">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Decidim" %></title>
    <%= stylesheet_link_tag "site" %>
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body class="<%= current_page.data.pageClass || "" %>">
    <%# partial "partials/alert" %>
    <%# partial "partials/alert--expanded" %>
    <%= partial "partials/topbar" %>
    <main class="main">
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= javascript_include_tag "display-topbar", :async => "async" %>
    <%= javascript_include_tag "nav-toggle", :async => "async" %>
    <%= javascript_include_tag "closest-polyfill", :async => "async" %>
    <%= javascript_include_tag "lang-toggle", :async => "async" %>
    <%= javascript_include_tag "image-switch", :async => "async" %>
    <%= javascript_include_tag "play-video", :async => "async" %>
    <%= javascript_include_tag "paginate-blog", :async => "async" %>
    <%= partial "partials/tracking" %>
  </body>
</html>
