<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#e52d2e">
    <title><%= page_title current_page %></title>
    <%= stylesheet_link_tag "tailwind" %>
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body class="<%= current_page.data.pageClass || "" %>">

    <%= partial "partials/header" %>

    <main>
      <%= yield %>
    </main>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag "play-video", :async => "async" %>
    <%= javascript_include_tag "paginate-blog", :async => "async" %>
    <%= javascript_include_tag "tabs", :async => "async" %>
  </body>
</html>
