<% wrap_layout :layout do %>
 <section>
    <div class="container pt-10 md:pt-16 pb-10">
      <div class="pb-10">
        <%= partial "partials/arrow-link", locals: { text: t("partners.title"), url: "/partners", reverse: true, icon_classes: "w-5 h-5" } %>
      </div>
      <div class="md:w-3/5">
        <h1 class="h1 md:nowrap ">
          <%= current_page.data.name %>
        </h1>
        <p class="par-xl pt-5 md:pt-5">
          <%= current_page.data.subtitle %>
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="container py-10 md:pt-16 md:pb-24">
      <div class="md:w-3/5">
        <div class="pb-10">
          <div class="flex flex-col items-centerborder-b border-gray-300 pb-3">
            <%= icon "ri-map-pin-line" %>
            <h3 class="font-bold text-sm uppercase tracking-wide pb-3"><%= t("partners.country") %></h3>
          </div>
          <p class="text-base"><%= current_page.data.country %></p>
        </div>

        <div class="pb-10">
          <div class="flex flex-col items-centerborder-b border-gray-300 pb-3">
            <%= icon "ri-calendar-line" %>
            <h3 class="font-bold text-sm uppercase tracking-wide pb-3"><%= t("partners.joined_at") %></h3>
          </div>
          <p class="text-base"><%= current_page.data.joined_at %></p>
        </div>

        <div class="pb-10">
          <div class="flex flex-col items-centerborder-b border-gray-300 pb-3">
            <%= icon "ri-service-line" %>
            <h3 class="font-bold text-sm uppercase tracking-wide pb-3"><%= t("partners.type_of_service_provider") %></h3>
          </div>
          <p class="text-base"><%= current_page.data.type_of_service_provider %></p>
        </div>

        <div class="pb-10">
          <div class="flex flex-col items-centerborder-b border-gray-300 pb-3">
            <%= icon "ri-contacts-book-2-line" %>
            <h3 class="font-bold text-sm uppercase tracking-wide pb-3"><%= t("partners.most_relevant_experiences") %></h3>
          </div>
          <div class="text-base"><%= current_page.data.most_relevant_experiences %></div>
        </div>

        <div class="pb-10">
          <div class="flex flex-col items-center border-b border-gray-300 pb-3">
            <%= icon "ri-global-line" %>
            <h3 class="font-bold text-sm uppercase tracking-wide pb-3"><%= t("partners.website") %></h3>
          </div>
          <p class="text-base"><%= current_page.data.url %></p>
        </div>

        <div class="pb-10">
          <div class="flex flex-col items-center border-b border-gray-300 pb-3">
            <%= icon "ri-mail-line" %>
            <h3 class="font-bold text-sm uppercase tracking-wide pb-3"><%= t("partners.email_address") %></h3>
          </div>
          <p class="text-base"><%= current_page.data.email_address %></p>
        </div>
      </div>
    </div>
  </section>


  <%= yield %>
<% end %>
