<div class="rounded-xl transition outline outline-1 outline-offset-[-1px] hover:outline-0 <%= padding_classes ||= 'px-4 py-2.5' %> <%= outline_classes ||= 'outline-red-500' %> <%= hover_bg_classes ||= 'hover:bg-red-100' %> flex justify-center items-center">
  <a href="<%= url %>" class="inline-flex items-center gap-2 par-md <%= classes ||= 'text-red-500' %>">
    <span class="md:text-xl <%= span_classes ||= 'text-xl' %>"><%= text %></span>
    <span class="inline-flex shrink-0">
      <%= icon(icon_name ||= "ri-arrow-right-line", class: icon_classes ||= "md:w-6 md:h-6 w-6 h-6") %>
    </span>
  </a>
</div>
