<div class="px-4 py-2.5 rounded-xl transition outline outline-1 outline-offset-[-1px] hover:outline-0 <%= outline_classes ||= 'outline-red-500' %> <%= hover_bg_classes ||= 'hover:bg-red-100' %> flex justify-center items-center gap-2">
  <a href="<%= url %>" class="flex items-center space-x-1 par-md <%= classes ||= 'text-red-500' %>">
    <span><%= text %></span>
    <%= icon(icon_name ||= "ri-arrow-right-line", class: "w-4 h-4 flex-none") %>
  </a>
</div>
