<a href="<%= url %>" class="flex items-center space-x-1 par-md hover:text-red-900 <%= classes ||= 'text-red-500' %>">
  <% if defined?(icon_name) && icon_name %>
    <span class="<%= span_classes ||= 'par-sm' %>"><%= text %></span>
    <%= icon(icon_name, { class: "#{icon_classes ||= 'md:w-4 md:h-4 w-4 h-4'} mt-1 block self-center shrink-0" }) %>
  <% else %>
    <%= icon("ri-arrow-left-line", { class: "#{icon_classes ||= 'md:w-4 md:h-4 w-4 h-4'} mt-1 block self-center shrink-0 #{ (reverse ||= false) ? '' : 'hidden' }" }) %>
    <span class="#{ (reverse ||= false) ? 'pl-1' : 'pr-1' } <%= span_classes ||= 'par-sm' %>"><%= text %></span>
    <%= icon("ri-arrow-right-line", { class: "#{icon_classes ||= 'md:w-4 md:h-4 w-4 h-4'} mt-1 block self-center shrink-0 #{ (reverse ||= false) ? 'hidden' : '' }" }) %>
  <% end %>
</a>
