<article class="space-y-2">
  <h5 class="h5">
    <a href="<%= article.url %>"><%= article.title %></a>
  </h5>
  <time class="text-gray-500"><%= article.date.strftime('%d/%m/%Y') %></time>
  <div class="text-gray-500 text-md">
    <%= article.summary %>
  </div>

  <%= partial "partials/arrow-link", locals: { text: t("blog.read_more"), url: article.url } %>
</article>
