<article class="space-y-2">
  <h3 class="h3">
    <a href="<%= article.url %>"><%= article.title %></a>
  </h3>
  <time class="text-gray-500"><%= article.date.strftime('%d/%m/%Y') %></time>
  <div class="text-gray-500 text-md">
    <%= article.summary %>
  </div>
  <a href="<%= article.url %>" class="flex items-center space-x-1 text-md text-red-500">
    <span>Read more</span>
    <%= icon "ri-arrow-right-line" %>
  </a>
</article>
