<div class="feature-list__item">
  <img src="/images/features/<%= type %>.svg" alt="" class="feature-list__image"/>
  <div class="feature-list__content">
    <h2 class="feature-list__title"><%= t("community.#{type}.title") %></h2>
    <h3 class="feature-list__subtitle"><%= t("community.#{type}.subtitle") %></h3>
    <p><%= t("community.#{type}.text") %></p>
    <a href="<%= url %>" class="btn btn--primary btn--small" target="_blank"><%= t("community.#{type}.cta") %></a>
  </div>
</div>

