<section class="bg-red-100">
  <div class="container pt-8 md:py-16 text-red-500">
    <h2 class="h2 md:pb-5"><%= t("used_by.facts.title") %></h2>
    <p class="par-md py-5 md:py-0 max-w-prose"><%= t("used_by.facts.subtitle") %></p>
    <div class="pb-8 md:py-0 md:pt-10">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-5 justify-items-start">
        <% data.facts.each_with_index do |use, ix| %>
          <div class="flex flex-col justify-center md:w-96 md:h-36 w-40 h-16" style="--translate-ix: <%= ix %>">
            <p class="par-2xl"><%= get_statistic_for_fact(use.text, use.value, data) %></p>
            <p class="md:text-2xl font-bold"><%= t("used_by.facts.type.#{use.text}") %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
