<h2 class="subsection-title"><%= title %></h2>

<table class="hover stack">
  <thead>
    <tr>
      <th><%= t 'modules.name' %></th>
      <th><%= t 'modules.description' %></th>
      <th><%= t 'modules.image' %></th>
    </tr>
  </thead>
  <tbody>
    <% modules = data_sort_by_title(data_select_by(data.modules, type)) %>
    <% modules.each do |id, m| %>
      <tr>
        <td><%= link_to m.title, m.url, target: '_blank' %></td>
        <td><%= m.description %></td>
        <td>
          <% if m.image %>
            <% link_to m.image do %>
              <% image_tag m.image, alt: m.title, class: "module-list__image", resize: "150x150" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
