<% limit = defined?(limit) ? limit : nil %>
<% resources = blog(:partners).articles %>
<% resources = limit ? resources.first(limit) : resources %>
<% resources.each do |resource| %>
  <% cs = resource.data %>
  <div class="flex flex-col pb-4 rounded-lg outline outline-1 outline-offset-[-1px] outline-gray-300 flex-1"
    data-cs-card
    data-type="<%= Array(cs.type).join(", ") %>"
    data-region="<%= cs.region.to_s %>">
    <div class="overflow-hidden rounded-t-lg bg-white">
      <% gallery_image = cs.gallery&.first %>
      <% if cs.image %>
        <img class="w-full h-28 object-contain object-center py-6 px-5" src="<%= cs.image %>" alt="<%= cs.alt.present? ? cs.alt : cs.title %>">
      <% else %>
        <img class="w-full h-28 object-contain object-center py-6 px-5" src="/images/placeholder.jpg" alt="<%= cs.title %>">
      <% end %>
    </div>
    <div class="flex gap-2 flex-wrap px-6 pt-4">
      <% if cs.type.present? %>
        <span class="text-sm bg-red-100 text-red-500 rounded px-2 py-1"><%= Array(cs.type).join(", ") %></span>
      <% end %>
      <% if cs.region.present? %>
        <span class="text-sm bg-red-100 text-red-500 rounded px-2 py-1"><%= cs.region %></span>
      <% end %>
    </div>
    <h5 class="h5 pt-4 px-6 line-clamp-2"><%= cs.title %></h5>
    <p class="pt-4 md:text-2xl text-xl font-bold text-black px-6"><%= cs.name %></p>
    <%= partial "partials/arrow-link", locals: { text: t("partners.read"), url: resource.url, classes: "text-red-500 mt-auto block pl-6 pt-2" } %>
  </div>
<% end %>
