<div class="md:grid md:grid-cols-3 grid-cols-2 gap-8">
  <% data.association.each do |member| %>
    <% if member.type == type %>
      <div class="team-member flex flex-col gap-1">
        <% if member.photo %>
          <img src="<%= member.photo %>" alt="<%= member.name %>" class="w-96 h-96 object-cover rounded" />
        <% end %>
        <p class="font-semibold"><%= member.name %></p>
        <p><%= t("team.members.#{member['key']}.role") %></p>
        <p><%= t("team.members.#{member['key']}.bio") %></p>
      </div>
    <% end %>
  <% end %>
</div>
