<div class="flex flex-col md:flex-row items-stretch space-y-6 md:space-y-0 md:space-x-6">
  <% data.case_studies.sample(2)&.each do |case_study| %>
    <div class="md:w-1/3 flex flex-col">
      <div class="rounded-xl overflow-hidden bg-gray-300 mb-4"><img class="w-full aspect-[4/3] object-cover" src="<%= case_study.image %>" alt="<%= case_study.name %>"></div>
      <h5 class="h5 mb-4"><%= t("case_study.#{case_study.id}.org") %></h5>
      <p class="par-md max-w-prose mb-4"><%= t("case_study.#{case_study.id}.quote").truncate(120, separator: ' ') %></p>
      <%= partial "partials/arrow-link", locals: { text: t("first-steps.section3.link"), url: case_study.url, classes: "text-red-500 mt-auto block" } %>
    </div>
  <% end %>
</div>
