<div class="flex flex-col md:flex-row items-stretch gap-5 pt-5 pb-5">
  <% sitemap.resources
      .select { |r| r.path.start_with?("case_studies/en/") && r.path.end_with?(".html") }
      .sample(3)
      .each do |resource| %>
    <% cs = resource.data %>
    <div class="flex flex-col pb-4 rounded-lg outline outline-1 outline-offset-[-1px] outline-gray-300">
      <div class="overflow-hidden rounded-t-lg bg-gray-300">
        <img class="w-full aspect-[2/1] object-cover" src="<%= cs.image %>" alt="<%= cs.title %>">
      </div>
      <div class="flex gap-2 flex-wrap px-6 pt-4">
        <% if cs.type.present? %>
          <span class="text-xs bg-red-100 text-red-500 rounded px-3 py-1"><%= cs.type %></span>
        <% end %>
        <% if cs.country.present? %>
          <span class="text-xs bg-red-100 text-red-500 rounded px-3 py-1"><%= cs.country %></span>
        <% end %>
      </div>
      <h5 class="h5 py-3 px-6"><%= cs.title %></h5>
      <p class="par-md text-gray-500 px-6 pb-4 flex-1"><%= cs.subtitle %></p>
      <%= partial "partials/arrow-link", locals: { text: t("case_studies.read"), url: resource.url, classes: "text-red-500 mt-auto block pl-6" } %>
    </div>
  <% end %>
</div>
