
<section class="logos-section logos-section--cityhalls">
  <div class="container">
    <h2 class="logos-section__title"><%= t(:logosUsedByTitle) %></h2>
    <div class="logos-container">
      <% installations = data_sort_by_priority(data_select_home(data.installations)) %>
      <div class="logos-container">
        <% installations.each do |id, use| %>
          <a href="<%= use.url %>" target="_blank" class="logo-item">
            <img src="<%= image_clean_path(use.image) %>" alt="<%= use.title %>" />
          </a>
        <% end %>
      </div>
    </div>
    <div class="logos-section__cta">
      <a href="<%= t(:path) %>/usedby" class="btn btn--primary"><%= t(:logosUsedByCta) %></a>
    </div>
  </div>
</section>

