<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin"><%= t(:communityTitle) %></h1>
  <h2 class="page-subtitle"><%= t(:communitySubtitle) %></h2>
  <div class="page-intro">
    <p><%= t(:communityIntro) %></p>
    <a href="https://meta.decidim.org/" class="btn btn--primary"><%= t(:communityCta) %></a>
  </div>
</div>
  
<%= partial "/partials/community-process" %>

<div class="container container-vertical">
  <div class="feature-list">
    <div class="feature-list__item">
      <img src="/images/features/features.svg" alt="" class="feature-list__image"/>
      <div class="feature-list__content">
        <h2 class="feature-list__title"><%= t(:communityFeat1Title) %></h2>
        <h3 class="feature-list__subtitle"><%= t(:communityFeat1Subtitle) %></h3>
        <p><%= t(:communityFeat1Text) %></p>
        <a href="https://meta.decidim.org/processes/roadmap" class="btn btn--primary btn--small" target="_blank"><%= t(:communityFeat1Cta) %></a>
      </div>
    </div>
    <div class="feature-list__item">
      <img src="/images/features/bug.svg" alt="" class="feature-list__image"/>
      <div class="feature-list__content">
        <h2 class="feature-list__title"><%= t(:communityFeat2Title) %></h2>
        <h3 class="feature-list__subtitle"><%= t(:communityFeat2Subtitle) %></h3>
        <p><%= t(:communityFeat2Text) %></p>
        <a href="https://meta.decidim.org/processes/bug-report" class="btn btn--primary btn--small" target="_blank"><%= t(:communityFeat2Cta) %></a>
      </div>
    </div>
  </div>
  <div class="community__team">
    <img src="/images/community-picture.jpg" alt="<%= t(:communityImgAlt) %>" />
  </div>
</div>
