<div class="fullblock">
  <div class="fullblock__content container">
    <h2 class="fullblock__title"><%= t('community.timeline.title') %></h2>
    <div class="timeline">
      <div class="timeline__block timeline__block--metadecidim">
        <h3 class="timeline__title">
          Metadecidim
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-proposal.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t('community.timeline.step1.title') %></h4>
            <p><%= t('community.timeline.step1.text') %></p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-validate.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t('community.timeline.step2.title') %></h4>
            <p><%= t('community.timeline.step2.text') %></p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-plan.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t('community.timeline.step3.title') %></h4>
            <p><%= t('community.timeline.step3.text') %></p>
          </div>
        </div>
      </div>
      <div class="timeline__block timeline__block--github">
        <h3 class="timeline__title">
          Github
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-issue.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t('community.timeline.step4.title') %></h4>
            <p><%= t('community.timeline.step4.text') %></p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-pull.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t('community.timeline.step5.title') %></h4>
            <p><%= t('community.timeline.step5.text') %></p>
          </div>
        </div>
      </div>
      <div class="timeline__block timeline__block--decidim">
        <h3 class="timeline__title">
          Decidim
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-pub.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t('community.timeline.step6.title') %></h4>
            <p><%= t('community.timeline.step6.text') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
