<div class="fullblock">
  <div class="fullblock__content container">
    <h2 class="fullblock__title"><%= t(:timelineTitle) %></h2>
    <div class="timeline">
      <div class="timeline__block timeline__block--metadecidim">
        <h3 class="timeline__title">
          Metadecidim
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-proposal.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t(:timelineStep1Title) %></h4>
            <p><%= t(:timelineStep1Text) %></p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-validate.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t(:timelineStep2Title) %></h4>
            <p><%= t(:timelineStep2Text) %></p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-plan.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t(:timelineStep3Title) %></h4>
            <p><%= t(:timelineStep3Text) %></p>
          </div>
        </div>
      </div>
      <div class="timeline__block timeline__block--github">
        <h3 class="timeline__title">
          Github
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-issue.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t(:timelineStep4Title) %></h4>
            <p><%= t(:timelineStep4Text) %></p>
          </div>
          <div class="timeline__item">
            <img src="/images/icons/com-pull.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t(:timelineStep5Title) %></h4>
            <p><%= t(:timelineStep5Text) %></p>
          </div>
        </div>
      </div>
      <div class="timeline__block timeline__block--decidim">
        <h3 class="timeline__title">
          Decidim
        </h3>
        <div class="timeline__items">
          <div class="timeline__item">
            <img src="/images/icons/com-pub.svg" alt="" class="timeline__icon"/>
            <h4 class="timeline__item-title"><%= t(:timelineStep6Title) %></h4>
            <p><%= t(:timelineStep6Text) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
