<section class="subhero subhero--cta">
  <div class="container">
    <h2><%= t(:ctaTitle) %></h2>
    <p><%= t(:ctaIntro) %></p>
    <div class="hero__buttons">
      <a href="<%= t(:path) %>/demo/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
  		<a href="https://github.com/AjuntamentdeBarcelona/decidim" target="_blank" class="btn btn--frosted"><%= t(:buttonCode) %></a>
  	</div>
    <p class="help">
      <%= t(:ctaContact) %>
    </p>
  </div>
</section>
