<section class="features container">
  <div class="feature__item">
    <div class="feature__image">
      <img src="/images/features/landing-collaboration.svg" alt="" />
    </div>
    <div class="feature__content" >
      <h3 class="feature__title"><%= t("features.list.n3.title") %></h3>
      <p><%= t("features.list.n3.content") %></p>
    </div>
  </div>
  <div class="feature__item feature__item--alt">
    <div class="feature__image">
      <img src="/images/features/landing-community.svg" alt="" />
    </div>
    <div class="feature__content" >
      <h3 class="feature__title"><%= t("features.list.n2.title") %></h3>
      <p><%= t("features.list.n2.content") %></p>
    </div>
  </div>
  <div class="feature__item">
    <div class="feature__image">
      <img src="/images/features/landing-budget.svg" alt="" />
    </div>
    <div class="feature__content" >
      <h3 class="feature__title"><%= t("features.list.n1.title") %></h3>
      <p><%= t("features.list.n1.content") %></p>
    </div>
  </div>
  <div class="feature__cta container">
    <a href="<%= t(:path) %>/features" class="btn btn--primary"><%= t("features.list.cta.features") %></a>
  </div>
</section>
