<% @spaces = data.features.select {|feature| feature[:type] == "spaces"} %>
<% @components = data.features.select {|feature| feature[:type] == "components"} %>
<% @other = data.features.select {|feature| feature[:type] == "other"} %>

<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin"><%= t("features.title") %></h1>
    <div class="page-intro">
      <%= t("features.intro") %>
    </div>
    <h2 class="subsection-title">
      <%= t("features.type1.title") %>
      <span class="subsection-title__subtitle"><%= t("features.type1.subtitle") %></span>
    </h2>
    <div class="feature-list">
      <% @spaces.each do |use| %>
        <div class="feature-list__item">
          <img src="<%= use.image %>" alt="" class="feature-list__image"/>
          <div class="feature-list__content">
            <h2 class="feature-list__title"><%= I18n.t("features.page.#{use.id}.title") %></h2>
            <h3 class="feature-list__subtitle"><%= I18n.t("features.page.#{use.id}.subtitle") %></h3>
            <p><%= I18n.t("features.page.#{use.id}.text") %></p>
          </div>
        </div>
      <% end %>
    </div>
    <h2 class="subsection-title">
      <%= t("features.type2.title") %>
      <span class="subsection-title__subtitle"><%= t("features.type2.subtitle") %></span>
    </h2>
    <div class="feature-list">
      <% @components.each do |use| %>
        <div class="feature-list__item">
          <img src="<%= use.image %>" alt="" class="feature-list__image"/>
          <div class="feature-list__content">
            <h2 class="feature-list__title"><%= I18n.t("features.page.#{use.id}.title") %></h2>
            <h3 class="feature-list__subtitle"><%= I18n.t("features.page.#{use.id}.subtitle") %></h3>
            <p><%= I18n.t("features.page.#{use.id}.text") %></p>
          </div>
        </div>
      <% end %>
    </div>
    <h2 class="subsection-title">
      <span class="subsection-title__subtitle"><%= t("features.other.subtitle") %></span>
    </h2>
    <div class="feature-list">
      <% @other.each do |use| %>
        <div class="feature-list__item">
          <img src="<%= use.image %>" alt="" class="feature-list__image"/>
          <div class="feature-list__content">
            <h2 class="feature-list__title"><%= I18n.t("features.page.#{use.id}.title") %></h2>
            <h3 class="feature-list__subtitle"><%= I18n.t("features.page.#{use.id}.subtitle") %></h3>
            <p><%= I18n.t("features.page.#{use.id}.text") %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="page__cta">
      <h2 class="page__cta-title"><%= t("features.cta.title") %></h2>
      <a class="btn btn--primary" href="https://docs.decidim.org/en/features/general-description/" target="_blank">
        <%= t("features.cta.button") %>
      </a>
    </div>
</div>