<section class="features container">
  <div class="feature__item">
    <div class="feature__image">
      <img src="/images/features/landing-collaboration.svg" alt="" />
    </div>
    <div class="feature__content" >
      <h3 class="feature__title"><%= t(:feature3Title) %></h3>
      <p><%= t(:feature3Content) %></p>
    </div>
  </div>
  <div class="feature__item feature__item--alt">
    <div class="feature__image">
      <img src="/images/features/landing-community.svg" alt="" />
    </div>
    <div class="feature__content" >
      <h3 class="feature__title"><%= t(:feature2Title) %></h3>
      <p><%= t(:feature2Content) %></p>
    </div>
  </div>
  <div class="feature__item">
    <div class="feature__image">
      <img src="/images/features/landing-budget.svg" alt="" />
    </div>
    <div class="feature__content" >
      <h3 class="feature__title"><%= t(:feature1Title) %></h3>
      <p><%= t(:feature1Content) %></p>
    </div>
  </div>
  <div class="feature__cta container">
    <a href="<%= t(:path) %>/features" class="btn btn--primary"><%= t(:featureCta) %></a>
  </div>
</section>
