<% @spaces = data.features.select {|feature| feature[:type] == "spaces"} %>
<% @components = data.features.select {|feature| feature[:type] == "components"} %>
<% @other = data.features.select {|feature| feature[:type] == "other"} %>

<div class="container container-vertical">
  <h1 class="page-title page-title--nomargin"><%= t(:featuresTitle) %></h1>
    <div class="page-intro">
      <%= t(:featuresIntro) %>
    </div>
    <h2 class="subsection-title">
      <%= t(:featuresType1Title) %>
      <span class="subsection-title__subtitle"><%= t(:featuresType1Subtitle) %></span>
    </h2>
    <div class="feature-list">
      <% @spaces.each do |use| %>
        <div class="feature-list__item">
          <img src="<%= use.image %>" alt="" class="feature-list__image"/>
          <div class="feature-list__content">
            <h2 class="feature-list__title"><%= use[locale].title %></h2>
            <h3 class="feature-list__subtitle"><%= use[locale].subtitle %></h3>
            <p><%= use[locale].text %></p>
          </div>
        </div> 
      <% end %>
    </div>
    <h2 class="subsection-title">
      <%= t(:featuresType2Title) %>
      <span class="subsection-title__subtitle"><%= t(:featuresType2Subtitle) %></span>
    </h2>
    <div class="feature-list">
      <% @components.each do |use| %>
        <div class="feature-list__item">
          <img src="<%= use.image %>" alt="" class="feature-list__image"/>
          <div class="feature-list__content">
            <h2 class="feature-list__title"><%= use[locale].title %></h2>
            <h3 class="feature-list__subtitle"><%= use[locale].subtitle %></h3>
            <p><%= use[locale].text %></p>
          </div>
        </div> 
      <% end %>
    </div>
    <h2 class="subsection-title">
      <span class="subsection-title__subtitle"><%= t(:featuresOtherSubtitle) %></span>
    </h2>
    <div class="feature-list">
      <% @other.each do |use| %>
        <div class="feature-list__item-mini">
          <img src="<%= use.image %>" alt="" class="feature-list__image"/>
          <div class="feature-list__content">
            <h2 class="feature-list__title"><%= use[locale].title %></h2>
            <h3 class="feature-list__subtitle"><%= use[locale].subtitle %></h3>
            <p><%= use[locale].text %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="page__cta">
      <h2 class="page__cta-title"><%= t(:featuresCtaTitle) %></h2>
      <a class="btn btn--primary" href="https://docs.decidim.org/en/features/" target="_blank">
        <%= t(:featuresCta) %>
      </a>
    </div>
</div>