<footer class="footer">
    <div class="footer__cta container">
      <h2 class="footer__cta-title"><%= t(:ctaTitle) %></h2>
      <!--<p><%= t(:ctaIntro) %></p>-->
      <div class="footer__cta-buttons">
        <a href="<%= t(:path) %>/demo/" class="btn btn--inverse"><%= t(:buttonDemo) %></a>
  		  <a href="https://github.com/decidim/decidim" target="_blank" class="btn btn--frosted"><%= t(:buttonCode) %></a>
  	  </div>
    </div>
    <div class="footer__main">
      <div class="container">
        <nav class="footer__nav">
          <a href="<%= t(:path) %>/faqs" class="footer__nav-item"><%= t(:navFaqs) %></a>
          <a href="<%= t(:path) %>/contract" class="footer__nav-item"><%= t(:navContract) %></a>
          <a href="<%= t(:path) %>/partners" class="footer__nav-item"><%= t(:navPartners) %></a>
          <a href="<%= t(:path) %>/blog" class="footer__nav-item"><%= t(:navBlog) %></a>
          <a href="<%= t(:path) %>/contact" class="footer__nav-item"><%= t(:navContact) %></a>
        </nav>
        <div class="footer__credits">
          <div class="footer__promoter">
            <%= t(:footerDrivenByTitle) %>
            <a href="http://www.barcelona.cat" target="_blank">
              <img src="/images/logo_footer_barcelona.png" alt="Ajuntament de Barcelona" />
            </a>
          </div>
          <div class="footer__attr">
            <small><a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">&copy; <script>document.write(new Date().getFullYear())</script> <%= t(:footerAttribution) %></a></small>
          </div>
          <div class="footer__logo">
            <a href="<%= t(:path) %>/"><img src="/images/decidim-logo-topbar.svg" alt="Decidim" width="120" /></a>
          </div>
        </div>
      </div>
    </div>
</footer>
