<footer class="footer">
    <div class="footer__cta container">
      <h2 class="footer__cta-title"><%= t('index.cta.title') %></h2>
      <!--<p><%= t(:ctaIntro) %></p>-->
      <div class="footer__cta-buttons">
        <a href="<%= t(:path) %>/demo/" class="btn btn--inverse"><%= t('demo.button') %></a>
  		  <a href="https://github.com/decidim/decidim" target="_blank" class="btn btn--frosted"><%= t('index.button.code') %></a>
  	  </div>
    </div>
    <div class="footer__main">
      <div class="container">
        <nav class="footer__nav">
          <a href="<%= t(:path) %>/faqs" class="footer__nav-item"><%= t('nav.faqs') %></a>
          <a href="/contract" class="footer__nav-item"><%= t('nav.contract') %></a>
          <a href="<%= t(:path) %>/partners" class="footer__nav-item"><%= t('nav.partners') %></a>
          <a href="<%= t(:path) %>/blog" class="footer__nav-item"><%= t('nav.blog') %></a>
          <a href="<%= t(:path) %>/press" class="footer__nav-item"><%= t('nav.press') %></a>
          <a href="<%= t(:path) %>/contact" class="footer__nav-item"><%= t('nav.contact') %></a>
        </nav>
        <div class="footer__credits">
          <div class="footer__promoter">
            <p> <%= t('footer.driven_by') %> </p>
            <a href="http://www.barcelona.cat" target="_blank">
              <img src="/images/logo_footer_barcelona.png" alt="Ajuntament de Barcelona" />
            </a>
          </div>
          <div class="footer__logo">
            <a href="<%= t(:path) %>/"><img src="/images/decidim-logo-topbar.svg" alt="Decidim" width="120" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__attr-badge">
      <div class="container">
        <div class="footer__attr">
          <small><a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">&copy; <script>document.write(new Date().getFullYear())</script> <%= t('footer.attribution') %></a></small>
        </div>
        <div class="footer__badge">
          <a href="https://www.netlify.com">
            <img src="https://www.netlify.com/img/global/badges/netlify-light.svg" alt="Powered by Netlify" />
          </a>
        </div>
      </div>
    </div>
</footer>
