<header class="bg-transparent <%= 'text-white' if current_page.url == '/' %>">
  <div class="container py-4 flex justify-between items-center">
    <a href="<%= t(:path) %>/"><img src="/images/decidim-logo-claim.svg" alt="Decidim" /></a>

    <nav class="space-x-8">
      <%= link_to t('nav.get-started'), "#{t(:path)}/get-started" %>
      <%= link_to t('nav.features'), "#{t(:path)}/features" %>
      <%= link_to t('nav.services'), "#{t(:path)}/services" %>
      <%= link_to t('nav.community'), "#{t(:path)}/community" %>
      <%= link_to t('nav.demo'), "#{t(:path)}/demo", class: "button" %>

      <%= partial "/partials/language-selector" %>
    </nav>
  </div>
</header>
