<% if alert_enabled? && !homepage? %>
  <%= partial "/partials/alert-banner" %>
<% end %>
<header class="bg-transparent w-full min-h-[5rem] <%= 'absolute top-0 left-0 z-10 text-white filter-img-alt' if homepage? %>">
  <div class="container pt-6 md:pt-12 pb-4 flex flex-col md:flex-row justify-between items-center pointer-events-none <%= 'absolute md:relative' unless homepage? %>">
    <div class="w-full md:w-auto flex justify-between items-center pointer-events-auto">
      <a href="<%= t(:path) %>/">
        <img class="hidden md:block" src="/images/decidim-logo-claim.svg" alt="Decidim" />
        <img class="block md:hidden" src="/images/decidim-symbol.svg" alt="Decidim" />
      </a>
      <button class="md:hidden flex items-center space-x-3" data-toggle-header>
        <span class="par-sm"><%= t('nav.menu') %></span>
        <span class="hidden par-sm"><%= t('nav.close_menu') %></span>
        <div class="flex-none relative inline w-5 h-5">
          <%= icon "ri-menu-fill", class: "absolute w-5 h-4 mt-1 animate-fade-in" %>
          <%= icon "ri-close-line", class: "absolute w-5 h-4 mt-1 animate-fade-out" %>
        </div>
      </button>
    </div>
    <nav class="-translate-y-[200%] md:translate-y-0 transition mt-10 md:mt-0 w-full md:w-auto md:h-auto flex flex-col md:flex-row items-center gap-12 md:gap-8 pointer-events-auto">
      <div class="w-full md:w-auto flex flex-col md:flex-row items-start md:items-center md:gap-8 divide-y-4 md:divide-y-0 divide-gray-100 border-y-4 md:border-y-0 border-gray-100">
        <%= link_to t('nav.first-steps'), "#{t(:path)}/first-steps", class: "inline-block py-4 w-full md:w-auto" %>
        <%= link_to t('nav.features'), "#{t(:path)}/features", class: "inline-block py-4 w-full md:w-auto" %>
        <%= link_to t('nav.community'), "#{t(:path)}/community", class: "inline-block py-4 w-full md:w-auto" %>
        <%= link_to t('nav.book'), "https://link.springer.com/book/10.1007/978-3-031-50784-7", target: "_blank", rel: "noopener noreferrer", class: "inline-block py-4 w-full md:w-auto" %>
        <%= link_to t('nav.about'), "#{t(:path)}/about", class: "inline-block py-4 w-full md:w-auto" %>
      </div>
      <%= link_to t('nav.donate'), "http://donate.decidim.org/", target: "_blank", rel: "noopener noreferrer", class: "button inline-block text-center py-4 w-full md:w-auto" %>
      <%= partial "/partials/language-selector" %>
    </nav>
  </div>
</header>
