<section class="hero">
  <div class="container hero__container">
  	<h1 class="hero__heading">
      <%= t(:heroHeading) %>
  	</h1>
    <p class="hero__subhead"><%= t(:heroIntro) %></p>
  	<div class="hero__buttons">
  		<a href="<%= t(:path) %>/demo/" class="btn btn--primary"><%= t(:buttonDemo) %></a>
  		<a href="https://github.com/AjuntamentdeBarcelona/decidim" target="_blank" class="btn btn--frosted"><%= t(:buttonCode) %></a>
  	</div>
  </div>
  <div class="container">
    <div class="browser-shot">
  		<img src="/images/screenshot01.jpg" alt="" />
  	</div>
  </div>
</section>
