<nav class="main-nav" id="nav-links">
    <a href="<%= t(:path) %>/features"class="main-nav__item"><%= t(:navFeatures) %></a>
    <a href="<%= t(:path) %>/community" class="main-nav__item"><%= t(:navCommunity) %></a>
    <a href="<%= t(:path) %>/docs"class="main-nav__item"><%= t(:navDocs) %></a>
    <a href="<%= t(:path) %>/usedby"class="main-nav__item"><%= t(:navUsedBy) %></a>
    <a href="<%= t(:path) %>/blog"class="main-nav__item"><%= t(:navBlog) %></a>
    <a href="https://github.com/decidim/decidim" target="_blank" class="main-nav__item">
      <%= t(:navCode) %>
    </a>
    <a href="<%= t(:path) %>/demo" class="main-nav__btn btn btn--primary btn--small"><%= t(:navDemo) %></a>
</nav>
