<section class="subhero container">
	<p class="subhero__intro"><%= t(:subheroIntro) %></p>
  <ul class="subhero__bullets">
    <li class="subhero__bullet-item">
      <img src="/images/icons/strategy.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t(:subheroFeature1) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/budget.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t(:subheroFeature2) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/debate.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t(:subheroFeature3) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/decision.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t(:subheroFeature4) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/decision.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t(:subheroFeature5) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/decision.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t(:subheroFeature6) %></span>
    </li>
  </ul>
</section>
