<section class="subhero container">
	<p class="subhero__intro"><%= t('index.subhero.intro') %></p>
  <ul class="subhero__bullets">
    <li class="subhero__bullet-item">
      <img src="/images/icons/strategy.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t('index.subhero.feature1') %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/budget.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t('index.subhero.feature2') %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/debate.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t('index.subhero.feature3') %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/process.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t('index.subhero.feature4') %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/decision.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t('index.subhero.feature5') %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/network.svg" alt="" class="subhero__bullet-icon"/>
      <span class="subhero__bullet-title"><%= t('index.subhero.feature6') %></span>
    </li>
  </ul>
</section>
