<section class="subhero container">
	<p class="subhero__intro"><%= t(:subheroIntro) %></p>
  <ul class="subhero__bullets">
    <li class="subhero__bullet-item">
      <img src="/images/icons/strategy.svg" alt="" class="subhero__bullet-icon"/>
      <span><%= t(:subheroFeture1) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/budget.svg" alt="" class="subhero__bullet-icon"/>
      <span><%= t(:subheroFeture2) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/debate.svg" alt="" class="subhero__bullet-icon"/>
      <span><%= t(:subheroFeture3) %></span>
    </li>
    <li class="subhero__bullet-item">
      <img src="/images/icons/decision.svg" alt="" class="subhero__bullet-icon"/>
      <span><%= t(:subheroFeture4) %></span>
    </li>
  </ul>
</section>
