<% testimonials = data.testimonials.sample(3) %>
<section>
  <div class="container md:pt-10 pt-6">
    <div class="hidden md:grid grid-cols-3 gap-6 items-stretch">
      <% testimonials&.each_with_index do |f, i| %>
        <div class="flex flex-col h-full">
          <div class="flex items-start space-x-4 pb-2 min-h-[5rem]">
            <img class="w-16 h-16 rounded-t-xl rounded-br-xl object-cover flex-shrink-0" src="<%= f.image %>" alt="<%= f.name %>">
            <cite class="not-italic">
              <span class="block font-bold"><%= f.name %></span>
              <span class="block text-black par-sm"><%= t("testimonials.#{f.id}.org") %></span>
            </cite>
          </div>
          <blockquote class="par-md bg-red-100 rounded-tr-xl rounded-b-xl p-6 text-red-500 flex-1">
            <%= t("testimonials.#{f.id}.quote") %>
          </blockquote>
        </div>
      <% end %>
    </div>
    <div class="md:hidden flex flex-col space-y-5">
      <% testimonials&.each do |f| %>
        <div class="flex flex-col">
          <div class="flex items-start space-x-4 pb-2">
            <img class="w-16 h-16 rounded-t-xl rounded-br-xl object-cover flex-shrink-0" src="<%= f.image %>" alt="<%= f.name %>">
            <cite class="not-italic">
              <span class="block font-bold"><%= f.name %></span>
              <span class="block text-black par-sm"><%= t("testimonials.#{f.id}.org") %></span>
            </cite>
          </div>
          <blockquote class="par-md bg-red-100 rounded-tr-xl rounded-b-xl px-4 py-5 text-red-500">
            <%= t("testimonials.#{f.id}.quote") %>
          </blockquote>
        </div>
      <% end %>
    </div>
  </div>
</section>
