<% bg=[ "bg-red-500", "bg-black" , "bg-gray-100" ] %>
<% text=[ "text-white", "text-white" , "text-black" ] %>
<% columns=[ "col-start-2 col-span-4" , "col-start-4 col-span-3" , "col-start-1 col-span-3" ] %>
<% rows=[ "row-start-1" , "row-start-2" , "row-start-2" ] %>

<section>
  <div class="container py-24 grid grid-cols-6 gap-6 items-start">
    <% data.testimonials.sample(3).each_with_index do |f, i| %>
      <div class="space-y-3 <%= columns[i] %> <%= rows[i] %> <%= '-mt-20' if i == 1 %>">
        <blockquote class="p-8 text-md rounded-t-xl rounded-br-xl <%= bg[i] %> <%= text[i] %>">
          <%= t("testimonials.#{f.id}.quote") %>
        </blockquote>
        <div class="flex items-start space-x-4 <%= 'w-1/2' if i == 0 %>">
          <img class="w-16 h-16 rounded-xl" src="<%= f.image %>" alt="<%= f.name %>">
          <cite class="not-italic">
            <span class="block font-bold">
              <%= f.name %>
            </span>
            <span class="block text-gray-500">
              <%= t("testimonials.#{f.id}.org") %>
            </span>
          </cite>
        </div>
      </div>
    <% end %>
  </div>
</section>
