
<section class="testimonials">
  <div class="container">
    <% data.testimonials.each do |use| %>
      <div class="testimonials__block">
        <img src="<%= use.image %>" alt="<%= use.name %>" class="testimonials__img"/>
        <blockquote class="testimonials__quote">
          <p><%= use[locale].quote %></p>
        </blockquote>
        <cite class="testimonials__attr">
          <span class="testimonials__author"><%= use.name %></span>
          <span class="testimonials__org"><%= use[locale].org %></span>
        </cite>
      </div>
    <% end %>
  </div>
</section>
