
<section class="testimonials">
  <div class="container">
    <h2 class="testimonials__title"><%= t(:testimonialsTitle) %></h2>
    <div class="testimonials__content">
      <% data.testimonials.each do |use| %>
        <div class="testimonials__block">
          <div class="testimonials__img">
            <img src="<%= use.image %>" alt="<%= use.name %>" />
          </div>
          <blockquote class="testimonials__quote">
            <p><%= use[locale].quote %></p>
          </blockquote>
          <cite class="testimonials__attr">
            <span class="testimonials__author"><%= use.name %></span>
            <span class="testimonials__org"><%= use[locale].org %></span>
          </cite>
        </div>
      <% end %>
    </div>
  </div>
</section>
