<section class="video-hero">
  <div class="container">
    <h2 class="video-hero__heading">
      <span><%= t('index.hero.subheading') %></span>
    </h2>
    <p class="video-hero__subhead">
      <%= t('index.hero.intro') %>
    </p>
    <a href="<%= t('index.video.url') %>" target="_blank" class="btn btn--primary btn--large" data-playvideo-button>
      <%= t('index.video.play') %>
      <%= partial "images/icons/play.svg" %>
    </a>
  </div>
</section>
<div class="video-wrapper" data-video-wrapper data-src='<%= t(:videoUrl) %>?rel=0&showinfo=0&autoplay=true'>
  <a href="#" class="video-wrapper__close" data-closevideo aria-label="<%= t('index.video.close') %>">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
