---
nav: partners
---

<section>
  <div class="container py-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("partners.title") %>
      </h1>
      <p class="par-xl pt-5 md:pt-5">
        <%= t("partners.subtitle") %>
      </p>
      <div class="par-md pt-4 md:pt-5">
        <%= t("partners.intro1") %>
      </div>
      <div class="par-md pt-4 md:pt-5">
        <%= t("partners.intro2") %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container md:pb-10">
    <div class="relative pb-4 md:pb-0">
      <input class="bg-gray-50 border border-gray-300 rounded-xl w-full py-3 pl-9 pr-3 par-sm relative placeholder:text-gray-500 text-gray-500" type="text" aria-label="<%= t('modules.placeholder') %>" placeholder="<%= t('modules.placeholder') %>">
      <%= icon "ri-search-line", class: "text-gray-500 absolute top-6 -translate-y-1/2 md:pr-1 left-3 w-5 h-5" %>
    </div>
  </div>
</section>

<section>
  <section class="container py-10 md:pt-16">
    <div class="space-y-5 md:p-10 p-4 bg-gray-100 rounded-xl">
      <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
        <%= t("partners.cta.title") %>
      </h2>
      <div class="inline-flex flex-col md:flex-row gap-4 par-md">
        <%= partial "partials/arrow-link-rounded", locals: { text: t("partners.cta.button"), url: "#{t(:path)}/partnership-policy", classes: "text-black", outline_classes: "outline-black md:rounded-2xl rounded-lg", span_classes: "text-[16px] leading-[22px]", hover_bg_classes: "hover:bg-white", padding_classes: "px-3 py-1 md:px-4 md:py-2.5", icon_classes: "w-4 h-4 md:w-6 md:h-6" } %>
      </div>
    </div>
  </section>
</section>
