---
description:
---

<section>
  <div class="container pt-24 pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t("404.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("404.subtitle") %>
      </p>
      <p class="par-md text-gray-500">
        <%= t("404.intro") %>
      </p>
    </div>

    <div class="flex flex-col divide-y-2 md:divide-y-0 divide-red-500 border-red-500 border-y-2 md:border-y-0 md:flex-row md:space-x-16 mt-16">
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-home-line", text: t("nav.home"), url: "#{t(:path)}/" } %>
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-mail-line", text: t("nav.contact"), url: "#{t(:path)}/contact" } %>
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-book-3-line", text: t("nav.docs.title"), url: "https://docs.decidim.org/" } %>
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-pages-line", text: t("nav.demo"), url: "https://try.decidim.org/" } %>
    </div>
  </div>
</section>
