---
nav: about
description:
---

<section>
  <div class="container pt-24 pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t("about.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("about.subtitle") %>
      </p>
      <p class="par-md text-gray-500">
        <%= t("about.intro") %>
      </p>
    </div>

    <!-- INCOMPLETE -->
  </div>
</section>

<section>
  <p class="container py-48 par-xl">TBC</p>
</section>

<%= partial "/partials/faq" %>

<%= partial "/partials/cta-banner" %>
