---
nav: about
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t("about.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("about.subtitle") %>
      </p>
      <p class="par-md text-gray-500">
        <%= t("about.intro") %>
      </p>
    </div>

    <div class="flex flex-col divide-y-2 md:divide-y-0 divide-red-500 border-red-500 border-y-2 md:border-y-0 md:flex-row md:space-x-16 mt-16">
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-hand-heart-line", text: t("about.about")[0], url: "#{t(:path)}/about#support" } %>
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-mail-line", text: t("about.about")[1], url: "#{t(:path)}/contact" } %>
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-team-line", text: t("about.about")[2], url: "#{t(:path)}/" } %>
      <%= partial "/partials/cta-bare", locals: { classes: "text-red-500", icon: "ri-newspaper-line", text: t("about.about")[3], url: "#{t(:path)}/press" } %>
    </div>
  </div>
</section>

<section>
  <div class="container py-32 grid grid-cols-2 md:grid-cols-4 gap-6">
    <% data.about_us.each do |about| %>
      <div>
        <div class="rounded-xl overflow-hidden bg-gray-100"><img class="aspect-square" src="<%= about.image %>" alt="<%= about.name %>"></div>
        <h6 class="h6 mt-4 text-center md:text-left"><%= about.name %></h6>
        <p class="par-sm text-center md:text-left text-gray-500"><%= about.role %></p>
      </div>
    <% end %>
  </div>
</section>

<section class="bg-red-100">
  <div class="pt-16 pb-20 overflow-hidden">
    <div class="container text-red-500">
      <h6 class="h6"><%= t("about.values_title") %></h6>
      <div class="par-xl mt-2"><%= t("about.values_intro") %></div>
      <a class="block par-md mt-4 underline" href="<%= t(:path) %>/contract"><%= t("about.values_cta") %></a>
    </div>
    <div class="mt-16 -ml-[200vw] w-[500vw] md:-ml-[5vw] md:w-[110vw]">
      <div class="-m-3 flex flex-wrap">
        <% t("about.values").each do |value| %>
          <div class="inline-block text-red-500 par-lg m-3 p-6 border border-red-500 rounded-xl"><%= value %></div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-32" id="support">
    <div class="space-y-6 md:w-3/4">
      <h3 class="h3"><%= t("about.support_title") %></h3>
      <p class="par-lg text-gray-500"><%= t("about.support_subtitle") %></p>
      <p class="par-md text-gray-500"><%= t("about.support_intro") %></p>
      <p class="par-md text-red-500">
        Associació de Software Lliure Decidim<br>
        <strong>BANK</strong> Triodos Bank NV, SE<br>
        <strong>IBAN</strong> 1234 5678 0000 0000<br>
        <strong>BIC</strong> TRIOESMMXXX
      </p>
    </div>
  </div>
</section>

<%= partial "/partials/faq" %>

<%= partial "/partials/cta-banner" %>
