---
nav: about
description:
---

<section>
  <div class="container py-10 md:pt-16">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("about.title") %>
      </h1>
      <p class="par-xl text-black py-5 md:py-5">
        <%= t("about.subtitle") %>
      </p>
      <p class="par-md text-black pt-4">
        <%= t("about.intro") %>
      </p>
    </div>

    <div class="flex flex-col md:flex-row justify-start items-stretch divide-y md:divide-y-0 divide-gray-300 md:border-b-0 border-gray-300 md:py-24 py-10">
      <% t("about.association").each do |key, item| %>
        <div class="flex flex-col justify-between md:border-l py-5 border-gray-300 md:first:border-l-0 px-0 md:px-5 md:first:pl-0 md:py-0 w-full">
          <div>
            <div class="flex items-center space-x-2">
              <%= icon item[:icon], class: "w-6 h-6" %>
              <span class="font-semibold uppercase"><%= item[:title] %></span>
            </div>
            <p class="par-md text-gray-500 md:py-6"><%= item[:description] %></p>
          </div>
            <%= partial "partials/arrow-link", locals: { text: item[:url_name], url: item[:url], classes: "text-red-500 par-md block pt-4 md:pt-0", span_classes: "text-[16px]", icon_name: "ri-external-link-line", icon_classes: "w-5 h-5" } %>
        </div>
      <% end %>
    </div>
  </div>
</section>


<section class="bg-red-100">
  <div class="container flex md:flex-row flex-col justify-start items-stretch gap-5 py-12 md:py-16">
    <div class="md:w-1/2">
      <h2 class="h2 text-red-500"><%= t("about.mission.title") %></h2>
      <p class="par-md text-red-500 pt-4"><%= t("about.mission.subtitle") %></p>
    </div>
    <div class="md:w-1/2">
      <h2 class="h2 text-red-500"><%= t("about.vision.title") %></h2>
      <li class="par-md text-red-500 pt-4"><%= t("about.vision.subtitle_1") %></li>
      <li class="par-md text-red-500 pt-4"><%= t("about.vision.subtitle_2") %></li>
    </div>
  </div>
</section>

<section>
  <img src="/images/banner_about.svg" alt="" class="banner object-cover">
</section>

<section class="bg-red-100">
  <div class="py-12 md:pt-16 md:pb-20 overflow-hidden">
    <div class="container text-red-500">
      <h2 class="h2"><%= t("about.values_title") %></h2>
      <div class="par-md py-5"><%= t("about.values_intro") %></div>
      <div class="inline-flex flex-col md:flex-row gap-4 par-md">
        <%= partial "/partials/arrow-link-rounded", locals: { text: t("about.values_cta"), url: "#{t(:path)}/contract" } %>
      </div>
    </div>
    <div class="mt-12 md:mt-16 w-screen space-y-4 md:space-y-6 overflow-hidden">
      <% texts = t("about.values").map {|_k,v| v} %>
      <% if texts.length > 0 %>
        <% chunks = texts.each_slice((texts.length / 2) + 1).to_a %>
        <% chunk0 = (chunks[0] * 4) + chunks[0].take(2) %>
        <% chunk1 = (chunks[1] * 4) + chunks[1].take(2) %>
        <div class="flex gap-4 md:gap-6 animate-slide-x" style="--translate-x: -1770px">
          <% chunk0.each do |value| %>
            <div class="text-white bg-red-500 rounded-xl par-md py-2 px-4 flex items-baseline space-x-2 whitespace-nowrap"><%= value %></div>
          <% end %>
        </div>
        <div class="flex gap-4 md:gap-6 -translate-x-[2000px] animate-slide-x" style="--translate-x: calc(-2000px + 1475px)">
          <% chunk1.each do |value| %>
            <div class="text-white bg-red-500 rounded-xl par-md py-2 px-4 flex items-baseline space-x-2 whitespace-nowrap"><%= value %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="container py-12 md:py-32" id="support">
    <div class="space-y-6 md:w-3/4">
      <h3 class="h3"><%= t("about.support_title") %></h3>
      <p class="par-lg text-gray-500"><%= t("about.support_subtitle") %></p>
      <p class="par-md text-gray-500"><%= t("about.support_intro") %></p>
      <a class="par-md inline-block button" href="https://opencollective.com/decidim">
        <%= t("about.support_at_opencollective") %>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2"><%= t("about.recognition.title") %></h2>
    <p class="par-md text-black py-5"><%= t("about.recognition.subtitle") %></p>
  </div>
</section>

<section class="container py-10 md:pt-16">
  <div class="space-y-5 md:p-10 p-4 bg-gray-100 rounded-xl">
    <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
      <%= t("about.bottom_section.title") %>
    </h2>
    <p class="par-md text-black">
      <%= t("about.bottom_section.subtitle") %>
    </p>
    <div class="inline-flex flex-col md:flex-row gap-4 par-md">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("about.bottom_section.button"), url: "#{t(:path)}/contact", classes: "text-black", outline_classes: "outline-black md:rounded-2xl rounded-lg", span_classes: "text-[16px] leading-[22px]", hover_bg_classes: "hover:bg-white", padding_classes: "px-3 py-1 md:px-4 md:py-2.5", icon_classes: "w-4 h-4 md:w-6 md:h-6" } %>
    </div>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
