---
nav: book
description:
---

<section>
  <div class="container pt-10 md:pt-16 md:pb-24 ">
    <div class="md:w-3/5 space-y-5">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("book.title") %>
      </h1>
      <p class="par-xl text-black">
        <%= t("book.subtitle") %>
      </p>
      <div class="par-md text-black">
        <%= t("book.intro") %>
      </div>
      <%= partial "partials/arrow-link", locals: { text: t("book.cta"), url: "https://link.springer.com/book/10.1007/978-3-031-50784-7", icon_name: "ri-external-link-line", icon_classes: "w-6 h-6" } %>
    </div>
  </div>
</section>
<section>
  <div class="container md:pb-24 pb-10">
    <div class="flex flex-col md:flex-row justify-start items-stretch divide-y-2 md:divide-y-0 divide-gray-300 md:border-b-0 border-gray-300">
      <% data.book.each do |item| %>
        <div class="flex flex-col md:border-l pb-5 pt-10 border-gray-300 md:first:border-l-0 px-0 md:px-5 md:first:pl-0 md:py-0 w-full">
          <div class="flex items-center space-x-2">
            <%= icon item.icon, class: "w-6 h-6" %>
            <span class="font-semibold uppercase"><%= t(item.title) %></span>
          </div>
          <ul class="par-md max-w-prose text-black pt-6 list-disc pl-5 space-y-2">
            <% t(item.text).each do |text| %>
              <li><%= text %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section>
  <div class="flex flex-col justify-center items-center md:pb-24 pb-10">
    <img src="images/ebook_decidim.svg" alt="ebook Decidim">
    <div class="flex flex-col md:flex-row gap-4 mt-10">
      <a href="https://link.springer.com/content/pdf/10.1007/978-3-031-50784-7.pdf" class="w-full sm:w-auto px-4 py-3 justify-center flex items-center text-red-500 bg-white hover:text-red-500 rounded-xl transition outline outline-1 outline-offset-[-1px] hover:outline-0 outline-red-500 hover:bg-red-100">
        <%= t("book.download_pdf") %>
      </a>
      <a href="https://link.springer.com/content/pdf/10.1007/978-3-031-50784-7.epub" class="w-full sm:w-auto px-4 py-3 justify-center flex items-center text-white bg-red-500 hover:text-white rounded-xl transition outline outline-1 outline-offset-[-1px] hover:outline-0 outline-red-500 hover:bg-red-900">
        <%= t("book.download_epub") %>
      </a>
    </div>
  </div>
</section>
