---
nav: community
description:
---

<section>
  <div class="container pt-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:text-6xl">
        <%= t("community.title") %>
      </h1>
      <p class="par-xl pt-5 md:pt-5">
        <%= t("community.subtitle") %>
      </p>
      <div class="par-md py-4 md:py-5">
        <%= t("community.intro") %>
      </div>
    </div>

    <%= partial "partials/arrow-link", locals: { text: t("community.cta_hero"), url: "https://meta.decidim.org/", icon_name: "ri-external-link-line" } %>
  </div>
</section>

<section>
  <div class="md:pb-16 md:pt-0 py-10 flex justify-center">
    <div data-scroll-gallery class="overflow-hidden cursor-grab">
      <div id="gallery-track" class="flex gap-2 md:gap-5 px-1.5 md:px-2 animate-slide-x" data-scroll-track style="--translate-x: -50%">
        <% images = %w[1 2 3 4 5 6] %>
        <% (images * 2).each do |foto| %>
          <img src="/images/community_carousel_<%= foto %>.jpg" alt="" class="max-w-sm md:max-w-md md:h-96 h-64 rounded-lg object-cover object-center block pointer-events-none shrink-0">
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container md:pb-16 py-10">
    <h2 class="h2 md:whitespace-nowrap">
      <%= t("community.gallery_section.title") %>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-6 md:pt-10 pt-5">
      <div class="border-b md:border-b-0 md:border-r border-gray-300 pb-5 md:pb-0 md:pr-6 last:border-b-0 md:last:border-r-0">
        <h5 class="par-lg font-semibold pb-2">
          <%= t("community.gallery_section.shape_roadmap.title") %>
        </h5>
        <p class="par-md pb-5 md:pb-0">
          <%= t("community.gallery_section.shape_roadmap.intro") %>
        </p>
      </div>
      <div class="border-b md:border-b-0 md:border-r border-gray-300 pb-5 md:pb-0 md:px-6 last:border-b-0 md:last:border-r-0">
        <h5 class="par-lg font-semibold pb-2">
          <%= t("community.gallery_section.meet_and_connect.title") %>
        </h5>
        <p class="par-md pb-5 md:pb-0">
          <%= t("community.gallery_section.meet_and_connect.intro") %>
        </p>
      </div>
      <div class="md:pl-6">
        <h5 class="par-lg font-semibold pb-2">
          <%= t("community.gallery_section.participate_in_governance.title") %>
        </h5>
        <p class="par-md">
          <%= t("community.gallery_section.participate_in_governance.intro") %>
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container md:pt-16 pt-10">
    <div class="flex flex-row items-center justify-between">
      <h2 class="h2"><%= t("community.fest_editions.the_fest") %></h2>
      <div class="hidden md:block">
        <%= partial "partials/arrow-link-rounded", locals: { text: t("community.fest_editions.all_about_cta"), url: "https://meta.decidim.org/es/conferences", icon_name: "ri-external-link-line" } %>
      </div>
    </div>
    <div class="md:w-3/5">
      <p class="par-md font-bold py-6"><%= t("community.fest_editions.subtitle") %></p>
      <p class="par-md pb-6"><%= t("community.fest_editions.description1") %></p>
      <p class="par-md"><%= t("community.fest_editions.description2") %></p>
    </div>
  </div>
</section>

<section>
  <div class="container md:py-10 py-6">
    <h2 class="h2 md:pb-10 pb-5"><%= t("community.fest_editions.title") %></h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-5">
      <% data.fest_editions.each do |edition| %>
        <div class="border border-gray-300 rounded-lg overflow-hidden">
          <img src="<%= edition.theme %>" alt="<%= edition.name %>" class="w-full h-64 object-cover object-center">
          <div class="p-4">
            <h5 class="par-lg font-semibold pb-10"><%= edition.name %></h5>
            <div class="flex flex-row items-center pb-2">
              <%= icon "ri-calendar-line", class: "text-gray-500 mr-2 w-5 h-5" %>
              <p class="par-sm text-gray-500"><%= edition.date %></p>
            </div>
            <%= partial "partials/arrow-link", locals: { text: t("community.fest_editions.cta"), url: edition.link } %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="md:hidden pt-10">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("community.fest_editions.all_about_cta"), url: "https://meta.decidim.org/es/conferences" } %>
    </div>
  </div>
</section>

<section class="bg-red-100">
  <div class="container py-10 md:py-16">
    <h2 class="h2 text-red-500">
      <%= t("community.banner.title") %>
    </h2>
    <p class="par-md text-red-500 md:pt-10 pt-5">
      <%= t("community.banner.intro") %>
    </p>
    <div class="inline-flex flex-col md:flex-row gap-4 par-md md:pt-10 pt-5">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("community.banner.cta"), url: "https://meta.decidim.org/en/processes_groups/76", icon_name: "ri-external-link-line"  } %>
    </div>
  </div>
</section>

<section>
  <div class="container py-10 md:pt-16">
    <div class="space-y-5 md:p-10 p-4 bg-gray-100 rounded-xl">
      <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
        <%= t("community.cta.title") %>
      </h2>
      <p class="par-md">
        <%= t("community.cta.text") %>
      </p>
      <div class="inline-flex flex-col md:flex-row gap-4 par-md">
        <%= partial "partials/arrow-link-rounded", locals: { text: t("community.cta.button"), url: "#{t(:path)}/partners", classes: "text-black", outline_classes: "outline-black md:rounded-2xl rounded-lg", span_classes: "text-[16px] leading-[22px]", hover_bg_classes: "hover:bg-white", padding_classes: "px-3 py-1 md:px-4 md:py-2.5", icon_classes: "w-4 h-4 md:w-6 md:h-6" } %>
      </div>
    </div>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
