---
nav: contact
description:
---

<section>
  <div class="container pt-12 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("contact.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("contact.subtitle") %>&nbsp;<a class="underline" href="mailto:hola@decidim.org">hola@decidim.org</a>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container container pt-6 pb-12 md:pt-20 md:pb-32">
    <form class="flex flex-col space-y-6 md:w-1/2" method="post" action="/redirect/?page=/thanks" name="contact-en" netlify-honeypot="bot-field" data-netlify="true">
      <p class="hidden" hidden>
        <label><%= t('contact.bot_field') %> <input name="bot-field" /></label>
      </p>
      <label for="name" class="form-input">
        <input id="name" name="name" type="text" required>
        <span>
          <%= t("contact.name") %>
        </span>
      </label>
      <label for="email" class="form-input">
        <span>
          <%= t("contact.email") %>
        </span>
        <input id="email" name="email" type="email" required>
      </label>
      <label for="reason" class="form-input">
        <span>
          <%= t("contact.reason") %>
        </span>
        <select id="reason" name="reason" required>
          <option value="" selected disabled><%= t("contact.reasons.selected") %></option>
          <option value="installing"><%= t("contact.reasons.installing") %></option>
          <option value="service_provider"><%= t("contact.reasons.service_provider") %></option>
          <option value="community"><%= t("contact.reasons.community") %></option>
          <option value="researcher"><%= t("contact.reasons.researcher") %></option>
          <option value="other"><%= t("contact.reasons.other") %></option>
        </select>
      </label>
      <label for="message" class="form-input">
        <span>
          <%= t("contact.message") %>
        </span>
        <textarea id="message" name="message" cols="30" rows="10" required></textarea>
      </label>
      <label for="accept_privacy_policy" class="flex flex-row-reverse gap-x-2 hover:cursor-pointer">
        <span class="prose"><%= I18n.t('contact.privacy_policy.accept', privacy_policy_url: "#{t(:path)}/privacy-policy") %></span>
        <input type="checkbox" id="accept_privacy_policy" name="accept_privacy_policy" required/>
      </label>
      <%= t('contact.privacy_policy.message') %>
      <div class="par-md">
        <button type="submit" class="button"><%= t("contact.send") %></button>
      </div>
    </form>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
