---
nav: contact
description:
---

<div class="container container-vertical">
  <div class="container--small-col">
    <h1 class="page-title"><%= t('contact.title') %></h1>
    <form method="post" action="/redirect/?page=/thanks" name="contact-en" netlify-honeypot="bot-field" data-netlify="true">
      <p class="visually-hidden">
      <label><%= t('contact.bot_field') %> <input name="bot-field" /></label>
      </p>
      <div class="form-field">
        <label for="name">
          <%= t('contact.name') %> <span class="required" aria-label="required field">*</span>
        </label>
        <input type="text" id="name" name="name" required/>
      </div>
      <div class="form-field">
        <label for="entity"><%= t('contact.entity') %></label>
        <input type="text" id="entity" name="entity" />
      </div>
      <div class="form-field">
        <label for="email"><%= t('contact.email') %> <span class="required" aria-label="required field">*</span></label>
        <input type="email" id="email" name="email" required/>
      </div>
      <div class="form-field">
        <label for="subject"><%= t('contact.subject') %> <span class="required" aria-label="required field">*</span></label>
        <input type="text" id="subject" name="subject" required/>
      </div>
      <div class="form-field message">
        <label for="message"><%= t('contact.message') %> <span class="required" aria-label="required field">*</span></label>
        <textarea id="message" name="message" required></textarea>
      </div>
      <div>
        <input type="checkbox" id="accept_privacy_policy" name="accept_privacy_policy" required/>
        <label for="accept_privacy_policy"><%= t('contact.privacy_policy.accept', privacy_policy_url: "#{t(:path)}/privacy-policy") %></label>
      </div>
      <p><%= t('contact.privacy_policy.message') %></p>
      <div class="form-field">
        <button type="submit" class="btn btn--primary"><%= t('contact.send') %></button>
      </div>
    </form>
  </div>
</div>
