---
title:
  en: Demo
  es: Demo
  ca: Demo
description:
---
<div class="container container-vertical-top">
  <div class="container--text-col">
    <h1 class="page-title"><%= t('demo.title') %></h1>
    <p><%= t('demo.p1') %></p>
    <p><%= t('demo.p2') %></p>
    <p><%= t('demo.p3') %></p>
    <p><%= t('demo.p4') %></p>
    <div class="page__cta">
      <a href="http://try.decidim.org/" class="btn btn--primary"><%= t('demo.button') %></a>
    </div>
  </div>

</div>
