---
nav: faqs
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("faqs.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("faqs.subtitle") %>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container pt-6 pb-12 md:pt-16 md:pb-32 space-y-16">
  <% data.faqs.types.each do |name, type| %>
    <% questions = t("faqs.questions").select {|key, question| type.questions.include? key.to_s } %>
    <% if questions.length > 0 %>
      <div class="space-y-4">
        <div class="flex items-end space-x-2">
          <h6 class="h6 bg-black text-white px-4 py-2 rounded-xl"><%= t("faqs.types.#{name}") %></h6>
          <span class="w-4 h-4 rounded-full bg-black"></span>
        </div>

        <div class="mt-4 space-y-4" data-accordion="faqs">
          <% questions.each do |key, item| %>
            <%= partial "partials/faq-item", locals: { item: item, classes: "bg-gray-100" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
