---
nav: faqs
description:
---

<section>
  <div class="container pt-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap pb-5">
        <%= t("faqs.title") %>
      </h1>
      <p class="par-xl text-black">
        <%= t("faqs.subtitle").html_safe %>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container pt-6 pb-12 md:pb-32 space-y-16">
    <div id="faq-sections" class="space-y-16 max-w-3xl" data-filter>
      <div class="relative">
        <input class="bg-gray-50 border border-gray-300 rounded-xl w-full p-3 pl-9 pr-3 par-sm relative placeholder:text-gray-500 text-gray-500" type="text" aria-label="<%= t('modules.placeholder') %>" placeholder="<%= t('modules.placeholder') %>">
        <%= icon "ri-search-line", class: "text-gray-500 absolute top-6 -translate-y-1/2 md:pr-1 left-3 w-5 h-5" %>
      </div>

      <% data.faqs.types.each_with_index do |(name, type), i| %>
        <% questions = t("faqs.questions").select {|key, question| type.questions.include? key.to_s } %>
        <% if questions.length > 0 %>
          <details class="faq-section group space-y-4" <%= "open" if i == 0 %>>
            <summary class="flex justify-between items-center space-x-2 cursor-pointer list-none border-b-2 border-red-500">
              <h6 class="h6 text-red-500 uppercase px-4 pt-2 pb-3 rounded-xl">
                <%= t("faqs.types.#{name}") %>
              </h6>
              <div class="flex-none relative inline w-5 h-5">
                <%= icon "ri-add-line", class: "absolute w-5 h-5 animate-fade-in text-red-500" %>
                <%= icon "ri-subtract-line", class: "absolute w-5 h-5 animate-fade-out text-red-500" %>
              </div>
            </summary>
            <div class="mt-4 space-y-4 group-open:block hidden">
              <% questions.each do |key, item| %>
                <div data-filter-target>
                  <%= partial "partials/faq-item", locals: { item: item, classes: "border-b border-gray-300" } %>
                </div>
              <% end %>
            </div>
          </details>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
