---
nav: faqs
description:
---

<section>
  <div class="container pt-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap pb-5">
        <%= t("faqs.title") %>
      </h1>
      <p class="par-xl text-black">
        <%= t("faqs.subtitle") %>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container pt-6 pb-12 md:pt-16 md:pb-32 space-y-16">
    <% data.faqs.types.each do |name, type| %>
      <% questions = t("faqs.questions").select {|key, question| type.questions.include? key.to_s } %>
      <% if questions.length > 0 %>
        <details class="group space-y-4">
          <summary class="flex items-center space-x-2 cursor-pointer list-none">
            <h6 class="h6 text-red-500 uppercase px-4 py-2 rounded-xl">
              <%= t("faqs.types.#{name}") %>
            </h6>
            <div class="flex-none relative inline w-5 h-5">
              <%= icon "ri-add-line", class: "absolute w-5 h-5 animate-fade-in text-red-500" %>
              <%= icon "ri-subtract-line", class: "absolute w-5 h-5 animate-fade-out text-red-500" %>
            </div>
          </summary>
          <div class="mt-4 space-y-4 group-open:block hidden">
            <% questions.each do |key, item| %>
              <%= partial "partials/faq-item", locals: { item: item, classes: "bg-gray-100" } %>
            <% end %>
          </div>
        </details>
      <% end %>
    <% end %>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
