---
nav: features
description:
---

<section>
  <div class="container pt-10 pb-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:text-6xl md:whitespace-nowrap">
        <%= t("features.title") %>
      </h1>
      <p class="par-xl text-black pt-5">
        <%= t("features.subtitle") %>
      </p>
      <div class="par-md text-black pt-4">
        <%= t("features.intro") %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2">
      <%= t("features.type1.title") %>
    </h2>

    <div class="hidden md:block border-gray-100" data-tabs="features">
      <ul role="tablist" class="flex items-center space-x-4 py-10">
        <% data.features.spaces.each_with_index do |use, i| %>
          <li role="tab" tabindex="0" class="items-center px-4 py-2 rounded-xl text-red-500 bg-red-100 outline-offset-[-1px] hover:text-white hover:bg-red-500 flex gap-2 transition cursor-pointer <%= 'is-selected' if i == 0 %>" data-tab-id="<%= use.id %>">
            <%= icon use.icon, class: "w-5 h-5" %>
            <span class="par-md">
              <%= t("features.page.#{use.id}.title") %>
            </span>
          </li>
        <% end %>
      </ul>
      <% data.features.spaces.each_with_index do |use, i| %>
        <div class="hidden flex flex-col md:flex-row items-stretch md:items-center gap-6 <%= 'is-selected' if i == 0 %>" data-tab-content="<%= use.id %>">
          <div class="md:w-3/5">
            <label class="text-black font-semibold"><%= t("features.page.#{use.id}.label") %></label>
            <h6 class="h6 text-gray-500 max-w-prose md:py-1 py-1">
              <%= t("features.page.#{use.id}.subtitle") %>
            </h6>
            <p class="par-md text-black mt-2 max-w-prose">
              <%= t("features.page.#{use.id}.text") %>
            </p>
          </div>
          <div class="md:w-2/5 rounded-xl overflow-hidden bg-gray-300">
            <img class="object-cover w-full aspect-[2/1]" src="<%= use.image %>">
          </div>
        </div>
      <% end %>
    </div>

    <div class="md:hidden mt-6 flex flex-col" data-tabs="features-mobile">
      <ul role="tablist" class="flex items-center gap-2 overflow-x-auto">
        <% data.features.spaces.each_with_index do |use, i| %>
          <li role="tab" tabindex="0" class="flex items-center gap-2 px-3 py-2.5 rounded-xl text-red-500 bg-red-100 hover:text-white hover:bg-red-500 transition cursor-pointer flex-shrink-0 <%= 'is-selected' if i == 0 %>" data-tab-id="<%= use.id %>">
            <%= icon use.icon, class: "w-5 h-5 flex-shrink-0" %>
            <span class="par-sm tab-title">
              <%= t("features.page.#{use.id}.title") %>
            </span>
          </li>
        <% end %>
      </ul>
      <% data.features.spaces.each_with_index do |use, i| %>
        <div class="hidden flex-col gap-4 mt-6 <%= 'is-selected' if i == 0 %>" data-tab-content="<%= use.id %>">
          <p class="par-lg max-w-prose">
            <%= t("features.page.#{use.id}.title") %>&nbsp;<%= t("features.page.#{use.id}.subtitle") %>
          </p>
          <p class="par-md text-gray-500 max-w-prose">
            <%= t("features.page.#{use.id}.text") %>
          </p>
          <div class="rounded-xl overflow-hidden bg-gray-300">
            <img class="object-cover w-full aspect-[4/3]" src="<%= use.image %>">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="container py-10 md:py-16">
    <h2 class="h2">
      <%= t("features.type2.title") %>
    </h2>
    <div class="par-md pt-5">
      <%= t("features.type2.subtitle") %>
    </div>

    <div class="hidden md:block">
      <% %w[components_group_1 components_group_2 components_group_3 components_group_4].each_with_index do |component_key, idx| %>
        <div class="md:pt-10 relative">
          <div class="absolute left-4 top-[4.80rem] <%= idx == 3 ? 'bottom-8' : 'bottom-[-1rem]' %> w-[1px] bg-black"></div>
          <div class="flex items-center gap-4 md:pb-6">
            <span class="rounded-full text-base border border-black bg-transparent flex items-center justify-center w-8 h-8 flex-shrink-0 relative z-10">
              <%= format("%2d", idx + 1) %>
            </span>
            <h5 class="h5 ml-3">
              <%= t("features.component_groups.#{data.features.send(component_key.to_sym).title}") %>
            </h5>
          </div>
          <div class="ml-4 pl-10 md:pb-6">
            <div class="flex flex-row flex-wrap gap-5">
              <% items = data.features.send(component_key.to_sym).items %>
              <% items.each_with_index do |use, item_idx| %>
                <div class="rounded-xl bg-gray-100 p-6 flex flex-col justify-start items-start <%= component_key == 'components_group_4' ? 'basis-[calc(33.333%-1.4rem)] grow-0' : 'flex-1' %>">
                  <%= icon use.icon, class: "w-7 h-7" %>
                  <h6 class="h6 py-5">
                    <%= I18n.t("features.page.#{use.id}.title") %>
                  </h6>
                  <p class="par-md max-w-prose first-letter:uppercase">
                    <%= I18n.t("features.page.#{use.id}.subtitle") %>
                  </p>
                  <p class="mt-auto max-w-prose text-black">
                    <%= I18n.t("features.page.#{use.id}.text") %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="block md:hidden relative" data-accordion="components">
      <% %w[components_group_1 components_group_2 components_group_3 components_group_4].each_with_index do |component_key, idx| %>
        <div class="relative">
          <details class="group relative">
            <summary class="flex items-center space-x-3 py-4 relative par-md font-bold text-black hover:text-black group-open:text-black transition cursor-pointer after:content-[''] after:absolute after:rounded-full after:h-2 after:right-0 after:hover:bg-transparent after:w-full after:bg-transparent after:transition pl-6">
              <span class="absolute left-0 rounded-full border items-center text-base border-black bg-transparent flex justify-center w-8 h-8">
                <%= format("%2d", idx + 1) %>
              </span>
              <span class="par-md pl-2 flex-1">
                <%= t("features.component_groups.#{data.features.send(component_key.to_sym).title}") %>
              </span>
              <span class="w-5 h-5 flex-shrink-0">
                <%= icon "ri-arrow-down-s-line", class: "absolute w-5 h-5 opacity-100 group-open:opacity-0" %>
                <%= icon "ri-arrow-up-s-line", class: "absolute w-5 h-5 opacity-0 group-open" %>
              </span>
            </summary>
            <div class="absolute left-4 top-12 bottom-0 w-[0.1rem] bg-black hidden group-open:block"></div>
            <div class="group-open:pt-2 pb-6 pointer-events-none group-open:pointer-events-auto -translate-y-full max-h-0 opacity-0 group-open:translate-y-0 group-open:max-h-none group-open:opacity-100 transition-all">
              <div class="space-y-4 pl-10">
                <% data.features.send(component_key.to_sym).items.each do |use| %>
                  <div class="rounded-xl bg-gray-100 p-4 flex flex-col items-start gap-3">
                    <%= icon use.icon, class: "w-6 h-6" %>
                    <h6 class="h6 text-base">
                      <%= I18n.t("features.page.#{use.id}.title") %>
                    </h6>
                    <p class="par-sm max-w-prose first-letter:uppercase">
                      <%= I18n.t("features.page.#{use.id}.subtitle") %>
                    </p>
                    <p class="text-sm max-w-prose text-black">
                      <%= I18n.t("features.page.#{use.id}.text") %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
          </details>
          <% unless idx == 3 %>
            <div class="absolute left-4 -bottom-3 w-[0.1rem] h-[1.6rem] bg-black"></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-red-100">
  <div class="container py-12 md:py-16">
    <h2 class="h2 text-red-500">
      <%= t("features.section4.title") %>
    </h2>
    <div class="inline-flex flex-col md:flex-row gap-4 par-md md:pt-10 pt-5">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("features.section4.link"), url: "https://try.decidim.org/" } %>
    </div>
  </div>
</section>

<section>
  <div class="container flex flex-col md:flex-row items-stretch space-y-6 md:pt-16">
    <div class="md:w-3/5 flex items-center">
      <div class="space-y-6">
        <h2 class="h2 text-black">
          <%= t("features.section3.title").html_safe %>
        </h2>
        <p class="par-md max-w-prose text-black">
          <%= t("features.section3.text") %>
        </p>
      </div>
    </div>
    <div class="w-full md:w-2/5">
      <img src="/images/customizable_system.svg" alt="customizable_system" class="w-full">
    </div>
  </div>
</section>

<section class="container pb-16 pt-10 md:py-16 flex flex-col md:flex-row items-stretch space-y-6 md:space-y-0 md:space-x-6">
  <div class="flex flex-col space-y-5 p-4 md:p-10 bg-gray-100 rounded-xl">
    <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
      <%= t("features.modules.title") %>
    </h2>
    <div class="flex-1">
      <p class="par-md max-w-prose text-black">
        <%= t("features.modules.intro") %>
      </p>
       <p class="par-md max-w-prose text-black">
        <%= t("features.modules.subtitle") %>
      </p>
    </div>
    <span class="flex flex-row gap-4 par-md mt-auto">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("features.modules.button"), url: "https://docs.decidim.org/en/develop/install/", classes: "text-black", outline_classes: "outline-black", hover_bg_classes: "hover:bg-white", icon_name: "ri-external-link-line" } %>
    </span>
  </div>
  <div class="flex flex-col space-y-5 p-4 md:p-10 bg-gray-100 rounded-xl">
    <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
      <%= t("features.need_help.title") %>
    </h2>
    <div class="flex-1">
      <p class="par-md max-w-prose text-black">
        <%= t("features.need_help.subtitle") %>
      </p>
    </div>
    <span class="flex flex-row gap-4 par-md mt-auto">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("features.need_help.button"), url: "#{t(:path)}/partners", classes: "text-black", outline_classes: "outline-black", hover_bg_classes: "hover:bg-white" } %>
    </span>
  </div>
</section>
<%= partial "/partials/cta-banner" %>
