---
nav: features
description:
---

<section>
  <div class="container pt-10 pb-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:text-6xl md:whitespace-nowrap">
        <%= t("features.title") %>
      </h1>
      <p class="par-xl text-black pt-5">
        <%= t("features.subtitle") %>
      </p>
      <div class="par-md text-black pt-4">
        <%= t("features.intro") %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="h2">
      <%= t("features.type1.title") %>
    </h2>

    <div class="hidden md:block border-gray-100" data-tabs="features">
      <ul role="tablist" class="flex items-center space-x-4 py-10">
        <% data.features.spaces.each_with_index do |use, i| %>
          <li role="tab" tabindex="0" class="items-center px-4 py-2 rounded-xl text-red-500 bg-red-100 outline-offset-[-1px] hover:text-white hover:bg-red-500 flex gap-2 transition cursor-pointer <%= 'is-selected' if i == 0 %>" data-tab-id="<%= use.id %>">
            <%= icon use.icon, class: "w-5 h-5" %>
            <span class="par-md">
              <%= t("features.page.#{use.id}.title") %>
            </span>
          </li>
        <% end %>
      </ul>
      <% data.features.spaces.each_with_index do |use, i| %>
        <div class="hidden flex flex-col md:flex-row items-stretch md:items-center gap-6 <%= 'is-selected' if i == 0 %>" data-tab-content="<%= use.id %>">
          <div class="md:w-3/5">
            <span class="text-black font-semibold uppercase"><%= t("features.page.#{use.id}.label") %></span>
            <h6 class="h6 text-gray-500 max-w-prose md:py-1 py-1">
              <%= t("features.page.#{use.id}.subtitle") %>
            </h6>
            <p class="par-md text-black mt-2 max-w-prose">
              <%= t("features.page.#{use.id}.text") %>
            </p>
          </div>
          <div class="md:w-2/5 rounded-xl overflow-hidden bg-gray-300">
            <img class="object-cover aspect-[2/1]" src="<%= use.image %>">
          </div>
        </div>
      <% end %>
    </div>

    <div class="md:hidden mt-6 flex flex-col" data-tabs="features-mobile">
      <ul role="tablist" class="flex items-center gap-2">
        <% data.features.spaces.each_with_index do |use, i| %>
          <li role="tab" tabindex="0" class="flex items-center gap-2 px-3 py-2.5 rounded-xl text-red-500 bg-red-100 hover:text-white hover:bg-red-500 transition cursor-pointer flex-shrink-0 <%= 'is-selected' if i == 0 %>" data-tab-id="<%= use.id %>">
            <%= icon use.icon, class: "w-5 h-5 flex-shrink-0" %>
            <span class="par-sm tab-title">
              <%= t("features.page.#{use.id}.title") %>
            </span>
          </li>
        <% end %>
      </ul>
      <% data.features.spaces.each_with_index do |use, i| %>
        <div class="hidden flex-col gap-4 mt-6 <%= 'is-selected' if i == 0 %>" data-tab-content="<%= use.id %>">
          <span class="text-black font-semibold"><%= t("features.page.#{use.id}.label") %></span>
          <h6 class="h6 text-gray-500 max-w-prose">
            <%= t("features.page.#{use.id}.subtitle") %>
          </h6>
          <p class="par-md text-black max-w-prose">
            <%= t("features.page.#{use.id}.text") %>
          </p>
          <div class="rounded-xl overflow-hidden bg-gray-300">
            <img class="object-cover w-full aspect-[4/3]" src="<%= use.image %>">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <%= partial "partials/components" %>
</section>

<section class="bg-red-100">
  <div class="container py-10 md:py-16">
    <h2 class="h2 text-red-500">
      <%= t("features.section4.title") %>
    </h2>
    <div class="inline-flex flex-col md:flex-row gap-4 par-md md:pt-10 pt-5">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("features.section4.link"), url: "https://try.decidim.org/" } %>
    </div>
  </div>
</section>

<section>
  <div class="container flex flex-col md:flex-row items-stretch space-y-6 md:pt-16 pt-10">
    <div class="md:w-3/5 flex items-center">
      <div class="space-y-6">
        <h2 class="h2 text-black text-balance">
          <%= t("features.section3.title").html_safe %>
        </h2>
        <p class="par-md max-w-prose text-black">
          <%= t("features.section3.text") %>
        </p>
      </div>
    </div>
    <div class="hidden md:block md:w-2/5 md:pl-5">
      <img src="/images/customizable_system.svg" alt="customizable_system" class="w-full">
    </div>
  </div>
</section>

<div class="w-full md:hidden pt-5">
  <img src="/images/customizable_system.svg" alt="customizable_system" class="w-full">
</div>

<section class="container py-10 md:py-16 flex flex-col md:flex-row items-stretch space-y-6 md:space-y-0 md:space-x-6">
  <div class="flex flex-col space-y-5 p-4 md:p-10 bg-gray-100 rounded-xl">
    <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
      <%= t("features.modules.title") %>
    </h2>
    <div class="flex-1">
      <p class="md:par-md par-sm max-w-prose text-black">
        <%= t("features.modules.intro") %>
      </p>
       <p class="md:par-md par-sm max-w-prose text-black">
        <%= t("features.modules.subtitle") %>
      </p>
    </div>
    <span class="flex flex-row gap-4 par-md mt-auto">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("features.modules.button"), url: "/modules", classes: "text-black", outline_classes: "outline-black md:rounded-2xl rounded-lg", hover_bg_classes: "hover:bg-white", icon_name: "ri-external-link-line", span_classes: "text-base leading-[22px]", padding_classes: "px-3 py-1 md:px-4 md:py-2.5", icon_classes: "w-4 h-4 md:w-6 md:h-6" } %>
    </span>
  </div>
  <div class="flex flex-col space-y-5 p-4 md:p-10 bg-gray-100 rounded-xl">
    <h2 class="text-black font-normal text-2xl md:text-5xl md:font-light">
      <%= t("features.need_help.title") %>
    </h2>
    <div class="flex-1">
      <p class="md:par-md par-sm max-w-prose text-black">
        <%= t("features.need_help.subtitle") %>
      </p>
    </div>
    <span class="flex flex-row gap-4 par-md mt-auto">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("features.need_help.button"), url: "#{t(:path)}/partners", classes: "text-black", outline_classes: "outline-black md:rounded-2xl rounded-lg", hover_bg_classes: "hover:bg-white", span_classes: "text-base leading-[22px]", padding_classes: "px-3 py-1 md:px-4 md:py-2.5", icon_classes: "w-4 h-4 md:w-6 md:h-6" } %>
    </span>
  </div>
</section>
<%= partial "/partials/cta-banner" %>
