---
nav: get-started
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t("get-started.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("get-started.subtitle") %>
      </p>
      <div class="par-md text-gray-500">
        <%= t("get-started.intro") %>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-between items-stretch mt-16">
      <% data.get_started.each do |item| %>
        <div class="flex flex-col border-l-8 border-gray-100 px-10 md:w-1/3">
          <div class="flex items-center text-red-500 space-x-2">
            <%= icon item.icon, class: "w-8 h-8" %>
            <span class="font-semibold uppercase"><%= t("get-started.#{item.pre}") %></span>
          </div>
          <h5 class="h5 mt-7"><%= t("get-started.#{item.title}") %></h5>
          <p class="par-md text-gray-500 mt-4 mb-6"><%= t("get-started.#{item.content}") %></p>
          <div class="mt-auto">
            <%= partial "partials/arrow-link", locals: { text: t("get-started.#{item.link1}"), url: url(item.url1), classes: "text-gray-500" } %>
            <%= partial "partials/arrow-link", locals: { text: t("get-started.#{item.link2}"), url: url(item.url2), classes: "text-gray-500" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="py-12 overflow-hidden">
    <div class="container space-y-6">
      <h3 class="h3">
        <%= t("get-started.section2.title") %>
      </h3>
      <p class="par-lg text-gray-500">
        <%= t("get-started.section2.subtitle") %>
      </p>
      <%= partial "partials/arrow-link", locals: { text: t("get-started.section2.link"), url: "#{t(:path)}/features" } %>
    </div>

    <div class="mt-12 -ml-[5vw] w-[110vw]">
      <div class="flex flex-wrap -m-3">

        <% t("features.page").each do |f| %>
          <div class="text-red-500 bg-red-100 rounded-xl par-lg m-3 p-6 flex items-baseline space-x-2">
            <%= icon "ri-check-line", class: "w-5 h-4" %>
            <span><%= f[1][:title] %></span>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container py-12">
    <h3 class="h3"><%= t("get-started.section3.title") %></h3>
    <%= partial "/partials/testimonial-cards" %>
  </div>
</section>

<section class="bg-gray-100 mt-12 py-16">
  <div class="container space-y-6">
    <h3 class="h3">
      <%= t("get-started.section4.title") %>
    </h3>
    <p class="par-lg text-gray-500">
      <%= t("get-started.section4.subtitle") %>
    </p>
    <p class="par-md text-gray-500">
      <%= t("get-started.section4.intro") %>
    </p>
    <div class="flex space-x-4 par-md">
      <a href="<%= t(:path) %>/community" class="button black"><%= t("get-started.section4.button1") %></a>
      <a href="https://try.decidim.org/" class="button hollow black"><%= t("get-started.section4.button2") %></a>
    </div>
  </div>
</section>

<%= partial "/partials/testimonials" %>

<section>
  <div class="container py-24">
    <%= partial "partials/random_partners" %>
  </div>
</section>

<%= partial "/partials/faq" %>

<%= partial "/partials/cta-banner" %>
