---
description:
pageClass: home
---

<section>
  <div class="bg-black absolute top-0 left-0 z-[-1] w-full h-[680px]">
    <img class="w-full h-full object-cover" src="/images/video-cover.jpg" alt="">
    <div class="container flex items-center space-x-16 py-8 z-10">
      <% data.partners.sample(6).each do |logo| %>
        <a class="w-1/6 h-16 block cursor-pointer" href="<%= logo.url %>">
          <img class="w-full h-full object-contain grayscale" src="<%= logo.image %>" alt="<%= logo.name %>">
        </a>
      <% end %>
    </div>
  </div>
  <div class="container mt-20 mb-64">
    <div class="md:bg-red-500 p-8 text-white rounded-xl w-1/2">
      <h2 class="h2"><%= t("index.hero.subheading") %></h2>
      <p class="text-md"><%= t("index.hero.intro") %></p>
    </div>
    <a href="/get-started" class="inline-block mt-6 button text-md"><%= t("index.hero.cta") %></a>
  </div>
</section>

<section>
  <div class="container py-24 flex space-x-8 items-stretch" data-tabs="index">
    <div class="w-3/4 grow-0 flex flex-col h-full">
      <% data.index.features.each_with_index do |feat, i| %>
        <div class="hidden grid place-items-center rounded-xl overflow-hidden <%= 'is-selected' if i == 0 %>" data-tab-content="<%= feat.id %>">
          <img class="h-full object-cover" src="<%= feat.image %>" alt="<%= t("index.subhero.#{feat.id}") %>">
        </div>
      <% end %>
    </div>
    <div class="w-1/4">
      <ul class="divide-y-8 divide-gray-100">
        <% data.index.features.each_with_index do |feat, i| %>
          <li class="flex items-center space-x-4 py-5 cursor-pointer hover:text-red-500 transition <%= 'is-selected' if i == 0 %>" data-tab-id="<%= feat.id %>">
            <%= icon feat.icon, class: "text-2xl text-red-500" %>
            <span class="font-bold text-md"><%= t("index.subhero.#{feat.id}") %></span>
          </li>
        <% end %>
      </ul>
      <a href="/features" class="button block text-center w-full text-md"><%= t("index.subhero.cta") %></a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p class="w-3/4 mx-auto text-center text-gray-500 text-3xl"><%= t("index.subhero.intro") %></p>
  </div>
</section>

<section>
  <div class="container py-24 flex flex-col md:flex-row justify-between items-stretch">
    <div class="flex flex-col border-l-8 border-gray-100 px-10 w-1/3">
      <%= icon "ri-briefcase-line", class: "text-3xl text-red-500" %>
      <h5 class="h5 mt-8"><%= t("index.elements.services.title") %></h5>
      <p class="text-md text-gray-500 mt-4 mb-6"><%= t("index.elements.services.content") %></p>
      <%= partial "partials/arrow-link", locals: { text: t("index.elements.services.link"), url: "/services", classes: "mt-auto" } %>
    </div>
    <div class="flex flex-col border-l-8 border-gray-100 px-10 w-1/3">
      <%= icon "ri-service-line", class: "text-3xl text-red-500" %>
      <h5 class="h5 mt-8"><%= t("index.elements.contract.title") %></h5>
      <p class="text-md text-gray-500 mt-4 mb-6"><%= t("index.elements.contract.content") %></p>
      <%= partial "partials/arrow-link", locals: { text: t("index.elements.contract.link"), url: "/contract", classes: "mt-auto" } %>
    </div>
    <div class="flex flex-col border-l-8 border-gray-100 px-10 w-1/3">
      <%= icon "ri-hand-heart-line", class: "text-3xl text-red-500" %>
      <h5 class="h5 mt-8"><%= t("index.elements.community.title") %></h5>
      <p class="text-md text-gray-500 mt-4 mb-6"><%= t("index.elements.community.content") %></p>
      <%= partial "partials/arrow-link", locals: { text: t("index.elements.community.link"), url: "/community", classes: "mt-auto" } %>
    </div>
  </div>
</section>

<%= partial "/partials/testimonials" %>

<section class="bg-red-100">
  <div class="container text-red-500 py-20">
    <h6 class="h6 text-md text-red-500"><%= t('index.used_by.title') %></h2>
    <p class="text-3xl leading-tight mt-2"><%= t('index.used_by.heading') %></p>
    <a class="text-md underline mt-4 block" href="<%= t(:path) %>/usedby"><%= t('index.used_by.link') %></a>

    <div class="mt-24">
      <% installations = data_sort_by_priority(data_select_home(data.installations)) %>
      <div class="-mx-4 -my-2 md:-mx-16 md:-my-6 flex flex-wrap items-center">
        <% installations.each do |id, use| %>
          <a class="inline-block px-4 py-2 md:px-16 md:py-6 max-w-[120px] md:max-w-xs" href="<%= use.url %>" target="_blank">
            <img class="object-cover w-full h-full" src="<%= use.image %>" alt="<%= use.title %>" />
          </a>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-20">
    <div class="flex items-end space-x-2">
      <h6 class="button"><%= t("blog.latest") %></h6>
      <span class="w-4 h-4 rounded-full bg-red-500"></span>
    </div>
    <div class="flex flex-col md:flex-row gap-6 mt-4">
      <% blog.articles.take(2).each do |article| %>
        <div class="md:w-1/2 bg-gray-100 p-6 rounded-xl">
          <%= partial "partials/article_preview", locals: {article: article} %>
        </div>
      <% end %>
    </div>
  </div>
</section>
