---
nav: legal-notice
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t('legal-notice.title') %>
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="container pt-12 pb-20">
    <% (1..9).each do |n| %>
      <h5 class="h5 first:mt-0 mt-8"><%= t("legal-notice.section-#{n}.title") %></h5>
      <div class="par-md mt-4 prose prose-xl"><%= t("legal-notice.section-#{n}.paragraph", privacy_policy_url: "#{t(:path)}/privacy-policy") %></div>
    <% end %>
  </div>
</section>

<%= partial "/partials/faq" %>

<%= partial "/partials/cta-banner" %>
