---
nav: newsletter
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t("newsletter.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("newsletter.subtitle") %>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container pt-6 pb-12 md:pt-16 md:pb-32">
    <h3 class="h3"><%= t("newsletter.past") %></h3>
    <%= partial "/partials/newsletter-widget" %>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
