---
nav: partners
description:
---
<div class="container container-vertical">
  <h1 class="page-title"><%= t('nav.partners') %></h1>
  <% @partners = data.partners %>
  <div class="partner__container">
    <% @partners.each do |partner| %>
      <div class="partner__item">
        <a href="<%= partner.url %>" title="<%= partner.name %>" target="_blank" class="partner__logo">
          <%= image_tag partner.image, alt: partner.name, resize: "160x50" %>
        </a>
      </div>
    <% end %>
  </div>
  <p><%= t('partners.notice') %></p>
</div>
