---
nav: partnership-policy
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("partnership-policy.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("partnership-policy.subtitle") %>
      </p>
      <% (1..3).each do |i| %>
        <p class="par-md text-gray-500 prose">
          <%= t("partnership-policy.explanation.p#{i}", main_website_url: "#{t(:path)}/partners", readme_url: "https://github.com/decidim/decidim/blob/develop/README.adoc") %>
        </p>
      <% end %>
      <h2 class="h3"><%= t("partnership-policy.how_to.title") %></h2>
      <ol class="list-decimal par-md text-gray-500 prose">
        <li><%= t("partnership-policy.how_to.steps.step1") %></li>
        <li><%= t("partnership-policy.how_to.steps.step2") %></li>
        <li><%= t("partnership-policy.how_to.steps.step3") %></li>
      </ol>
      <h2 class="h2"><%= t("partnership-policy.requirements.title") %></h2>
      <p class="par-md text-gray-500 prose">
        <%= t("partnership-policy.requirements.p1", social_contract_url: "/contract") %>
      </p>
      <ul class="list-disc par-md text-gray-500 prose">
        <li><%= t("partnership-policy.requirements.l1") %></li>
        <li><%= t("partnership-policy.requirements.l2") %></li>
      </ol>
      <p class="par-md text-gray-500 prose">
        <%= t("partnership-policy.requirements.p2", metadecidim_partners_url: "https://meta.decidim.org/assemblies/QuieroSerSocia?locale=en") %>
      </p>
    </div>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
