---
nav: partners
description:
---
<div class="container container-vertical">
  <h1 class="page-title"><%= t('nav.partners') %></h1>
  <% @partners = data.partners %>
  <div class="partner__container">
    <% @partners.each do |use| %>
      <div class="partner__item">
        <a href="<%= use.url %>" title="<%= use.name %>" target="_blank" class="partner__logo">
          <img src="<%= use.image %>" alt="<%= use.name %>" />
        </a>
      </div>
    <% end %>
  </div>
  <p><%= t('partners.notice') %></p>
</div>
