---
nav: partners
description:
---

<section>
  <div class="container pt-24 pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1">
        <%= t("partners.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("partners.subtitle") %>
      </p>
      <p class="par-md text-gray-500">
        <%= t("partners.intro") %>
      </p>
    </div>

    <!-- INCOMPLETE -->
  </div>
</section>

<section>
  <p class="container py-48 par-xl">TBC</p>
</section>

<%= partial "/partials/faq" %>

<%= partial "/partials/cta-banner" %>
<!--
<div class="container container-vertical">
  <h1 class="page-title"><%= t('nav.partners') %></h1>
  <% @partners = data.partners %>
  <div class="partner__container">
    <% @partners.each do |partner| %>
      <div class="partner__item">
        <a href="<%= partner.url %>" title="<%= partner.name %>" target="_blank" class="partner__logo">
          <%= image_tag partner.image, alt: partner.name, resize: "160x50" %>
        </a>
      </div>
    <% end %>
  </div>
  <p><%= t('partners.notice') %></p>
</div> -->
