---
nav: partnership-policy
description:
---

<section>
  <div class="container py-10 md:py-16">
    <%= partial "partials/arrow-link", locals: { text: t("partnership-policy.back_to_partners"), url: "#{t(:path)}/partners", reverse: true, icon_classes: "w-5 h-5"} %>
    <div class="md:w-3/5 pt-6">
      <h1 class="h1 md:text-6xl md:whitespace-nowrap">
        <%= t("partnership-policy.title") %>
      </h1>
      <p class="par-md text-black font-bold pt-10 pb-5">
        <%= t("partnership-policy.subtitle") %>
      </p>
      <p class="par-md text-black">
        <%= I18n.t("partnership-policy.explanation", main_website_url: "#{t(:path)}/partners", readme_url: "https://github.com/decidim/decidim/blob/develop/README.adoc") %>
      </p>
      <div class="md:py-10 pt-10 pb-6">
        <h3 class="h3 pb-4"><%= t("partnership-policy.how_to.title") %></h3>
        <ol class="list-decimal par-md text-black space-y-2 pl-8">
          <li><%= t("partnership-policy.how_to.steps.step1") %></li>
          <li><%= t("partnership-policy.how_to.steps.step2") %></li>
          <li><%= t("partnership-policy.how_to.steps.step3") %></li>
        </ol>
      </div>
      <h3 class="h3 pb-4"><%= t("partnership-policy.requirements.title") %></h3>
      <p class="par-md text-black">
        <%= I18n.t("partnership-policy.requirements.p1", social_contract_url: "/contract") %>
      </p>
      <ul class="list-disc par-md text-black space-y-2 pl-8">
        <li><%= t("partnership-policy.requirements.l1") %></li>
        <li><%= t("partnership-policy.requirements.l2") %></li>
        <li><%= I18n.t("partnership-policy.requirements.p2", metadecidim_partners_url: "https://meta.decidim.org/assemblies/QuieroSerSocia?locale=en") %></li>
      </ul>
    </div>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
