---
nav: partners
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("partners.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("partners.subtitle") %>
      </p>
      <p class="par-md text-gray-500">
        <%= t("partners.intro") %>
      </p>
      <%= partial "partials/arrow-link", locals: { text: t("partners.link"), url: "#{t(:path)}/partnership-policy" } %>
    </div>
  </div>
</section>

<section>
  <div class="container pb-12">
    <%= partial "partials/partners", locals: { type: "public" } %>
    <%= partial "partials/partners", locals: { type: "provider" } %>
    <%= partial "partials/partners", locals: { type: "other" } %>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
