---
nav: partners
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 whitespace-nowrap">
        <%= t("partners.title") %>
      </h1>
      <p class="par-xl text-gray-500">
        <%= t("partners.subtitle") %>
      </p>
      <p class="par-md text-gray-500">
        <%= t("partners.intro") %>
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container pt-6 pb-12 md:pt-16 md:pb-32">
    <div class="grid grid-cols-4 md:grid-cols-5 gap-6 md:gap-24 items-center">
      <% data.partners.each do |partner| %>
        <a href="<%= partner.url %>" title="<%= partner.name %>" target="_blank">
          <%= image_tag partner.image, alt: partner.name %>
        </a>
      <% end %>
    </div>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
