---
nav: privacy-policy
description:
---

<section>
  <div class="container pt-6 pb-6 md:pt-24 md:pb-12">
    <div class="md:w-3/5 space-y-6">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("privacy-policy.title") %>
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="container pt-12 pb-20">
    <% (1..8)&.each do |n| %>
      <div class="par-md mt-4 prose prose-xl">
        <h2 class="h3 mt-6 md:mt-12"><%= t("privacy-policy.section-#{n}.title") %></h5>
        <%= t("privacy-policy.section-#{n}.paragraph", decidim_url: "#{t(:path)}/legal-notice#decidim", legal_notice_url: "#{t(:path)}/legal-notice") %>
      </div>
    <% end %>
  </div>
</section>

<%= partial "/partials/faq" %>

<%= partial "/partials/cta-banner" %>
