---
nav: supporters
description:
---

<section>
  <div class="container py-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("supporters.title") %>
      </h1>
      <p class="par-xl text-black py-5 md:py-5">
        <%= t("supporters.subtitle") %>
      </p>
      <%= partial "partials/arrow-link", locals: { text: t("supporters.link"), url: "#{t(:path)}/how-to-support", span_classes: "par-md", icon_classes: "md:w-6 md:h-6 w-4 h-4" } %>
    </div>
  </div>
</section>

<section>
  <div class="container md:pb-16 pb-10">
    <h2 class="h2 md:pb-6 pb-4"><%= t("supporters.main_founders") %></h2>
    <%= partial "partials/supporters", locals: { type: "public" } %>
    <h2 class="h2 md:pb-6 pt-10 pb-4"><%= t("supporters.supporters") %></h2>
    <%= partial "partials/supporters", locals: { type: "supporters" } %>
    <h2 class="h2 md:pb-6 pt-10 pb-4"><%= t("supporters.collaborators") %></h2>
    <%= partial "partials/supporters", locals: { type: "collaborators" } %>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
