---
nav: supporters
description:
---

<section>
  <div class="container pt-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("supporters.title") %>
      </h1>
      <p class="par-xl text-black py-5 md:py-5">
        <%= t("supporters.subtitle") %>
      </p>
      <%= partial "partials/arrow-link", locals: { text: t("supporters.link"), url: "#{t(:path)}/partnership-policy" } %>
    </div>
  </div>
</section>

<section>
  <div class="container pb-12">
    <%= partial "partials/supporters", locals: { type: "public" } %>
    <%= partial "partials/supporters", locals: { type: "supporters" } %>
    <%= partial "partials/supporters", locals: { type: "collaborators" } %>
  </div>
</section>

<%= partial "/partials/cta-banner" %>
