---
nav: team
description:
---

<section>
  <div class="container pt-10 pb-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:whitespace-nowrap">
        <%= t("team.title") %>
      </h1>
      <p class="par-xl text-black pt-5">
        <%= t("team.subtitle") %>
      </p>
      <div class="par-md text-black pt-4">
        <%= t("team.intro") %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container md:pb-16 pb-10">
    <h2 class="h2 md:pb-6 pb-4"><%= t("team.technical_office") %></h2>
    <%= partial "partials/team", locals: { type: "technical" } %>
    <h2 class="h2 md:pb-6 pt-10 pb-4"><%= t("team.coordination_committee") %></h2>
    <%= partial "partials/team", locals: { type: "coordination" } %>
  </div>
</section>
