---
nav: used_by
description:
---

<section>
  <div class="container pt-10 md:pt-16 md:pb-24">
    <div class="md:w-3/5">
      <h1 class="h1 md:text-6xl md:whitespace-nowrap">
        <%= t("used_by.title") %>
      </h1>
      <p class="par-xl pt-5 md:pt-5">
        <%= t("used_by.subtitle") %>
      </p>
      <div class="par-md pt-4 md:pt-5">
        <%= t("used_by.intro") %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pb-24">
    <div class="flex flex-col md:pb-5 md:flex-row md:justify-between md:items-start gap-4">
      <h2 class="h2">
        <%= t("used_by.case_studies.title") %>
      </h2>
      <div class="hidden md:block">
        <%= partial "partials/arrow-link-rounded", locals: { text: t("used_by.case_studies.link"), url: "#{t(:path)}/features" } %>
      </div>
    </div>
    <%= partial "/partials/testimonial-cards" %>
    <div class="md:hidden">
      <%= partial "partials/arrow-link-rounded", locals: { text: t("used_by.case_studies.link"), url: "#{t(:path)}/features" } %>
    </div>
  </div>
</section>

<%= partial "/partials/facts" %>

<%= partial "/partials/testimonials" %>

<%= partial "/partials/cta-banner" %>
