---
pageable: true
per_page: 5
---
<div class="blog container container--text-col container-vertical-top">
  <% blog.local_articles[0...5].each do |article| %>
    <article class="post-preview">
      <h2>
        <a href="<%= article.url %>"><%= article.title %></a>
        <time class="post-date"><%= article.date.strftime('%d/%m/%Y') %></time>
      </h2>

      <%= article.summary %>

      <a href="<%= article.url %>" class="post-preview__more">Llegir més</a>
    </article>
  <% end %>

  <% if paginate && num_pages > 1 %>
    <div class="blog-pages">

      <% if prev_page %>
        <span class="blog-pages__prev">
          <%= link_to 'Anterior pàgina', prev_page %>
        </span>
      <% end %>

      <%= page_number %> of <%= num_pages %>

      <% if next_page %>
        <span class="blog-pages__next">
          <%= link_to 'Següent pàgina', next_page %>
        </span>
      <% end %>
    </div>
  <% end %>

</div>
